:root {
  --spacing-xxs: 0.25rem; /* 0.25 * 16px = 4px */
  --spacing-xs: 0.5rem; /* 0.5 * 16px = 8px */
  --spacing-sm: 0.75rem; /* 0.75 * 16px = 12px */
  --spacing-md: 1rem; /* 1 * 16px = 16px */
  --spacing-lg: 1.5rem; /* 1.5 * 16px = 24px */
  --spacing-xl: 3rem; /* 3 * 16px = 48px */
}
