{#
/**
 * @file
 * Template override for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 */
#}
{% set block = block ?? 'form-item' %}
{% set element = 'label' %}
{%
  set modifiers = [
    required ? 'required',
    title_display == 'after' ? 'inline',
  ]
%}
{%
  set classes = [
    bem(block, element, modifiers),
    required ? 'js-form-required',
    required ? 'form-required',
    title_display == 'invisible' ? 'visually-hidden',
  ]
%}
{% if title is not empty or required -%}
  <label{{ attributes.addClass(classes) }}>{{ title }}</label>
{%- endif %}
