{% set bem_block = 'form' %}
{% set classes = [
  bem_block,
] %}
{%
  set classes = [
    bem_block,
  ]
%}
{% for bem_modifier in bem_modifiers %}
  {% if bem_modifier|length %}
    {% set classes = classes|merge([bem_block ~ '--' ~ bem_modifier|clean_class]) %}
  {% endif %}
{% endfor %}
<form{{ attributes.addClass(classes) }}>
  {{ children }}
</form>
