/**
* @file
* Typography styles.
*/

html {
  font-size: 1rem; // Hardcoded, because we need inherit user font-size.
}

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family;
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

ol, ul {
  margin: $list-margins;
  padding: $list-paddings;
}

p {
  margin: $paragraph-margins;
  &:last-child {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, h2, h3 {
  margin-top: $headings-primary-margin-top;
  margin-bottom: $headings-primary-margin-bottom;
}

h4, h5, h6 {
  margin-top: $headings-secondary-margin-top;
  margin-bottom: $headings-secondary-margin-bottom;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

small {
  font-size: $font-size-small;
  font-weight: 400;
}

big {
  font-size: $font-size-large;
  font-weight: 400;
}

hr {
  margin-top:    $hr-margin-top;
  margin-bottom: $hr-margin-bottom;
  border: 0;
  border-top: 1px solid $hr-border-color;
}

mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}

pre {
  code {
    font-family: $font-family-monospace;
  }
}

blockquote {
  padding: $blockquote-paddings;
  margin: $blockquote-margins;
  font-size: $blockquote-font-size;
  border-left: $blockquote-border-size solid $blockquote-border-color;
}
