{%
  set bem_block = bem_block ?: ('paragraph-' ~ paragraph.bundle ~ (view_mode != 'default' ? '-' ~ view_mode))|clean_class
%}
{%
  set classes = [
    bem_block,
  ]
%}
{% block paragraph %}
  {% do attributes.setAttribute('id', ('paragraph-' ~ paragraph.id())|clean_id) %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="{{ bem_block }}__content">{{ content }}</div>
    {% endblock %}
  </div>
{% endblock paragraph %}
