{% set bem_block = 'paragraph-' ~ paragraph.bundle ~ '-' ~ view_mode|clean_class|replace({'--': '-'}) %}
{%
  set classes = [
    bem_block,
  ]
%}
{% for bem_modifier in bem_modifiers %}
  {% if bem_modifier|length %}
    {% set classes = classes|merge([bem_block ~ '--' ~ bem_modifier]) %}
  {% endif %}
{% endfor %}
<div{{ attributes.addClass(classes) }}>
  {% block paragraph %}

    <div class="{{ bem_block }}__content">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>

  {% endblock paragraph %}
</div>
