{% set bem_block = 'view-' ~ view.storage.id()|clean_class ~ '-' ~ view.current_display|clean_class %}
{% set bem_element = bem_block ~ '__grouping' %}
<div class="{{ bem_element }}">
  {% block title %}
    {{ title }}
  {% endblock %}
  
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
