{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {% if default_row_class %}
    {% set default_class = row.attributes.addClass('row') %}
  {% endif %}

  {% if row.attributes.class is not empty %}
    <div{{ row.attributes }}>
  {% endif %}
    {{ row.content }}
  {% if row.attributes.class is not empty %}
    </div>
  {% endif %}
{% endfor %}
