/**
 * @file
 * Main layouts and styles for #app and other elements inside.
 */

#header {
  .container {
    @include media-container;
  }
}

#main {
  @extend .clearfix;
  @include media-container;
  display: flex;

  .region--sidebar-first {
    flex: 1 1 span(3);
    margin-right: gutter();
  }

  .region--content {
    flex: 1 1 span(9);
  }
}
