/**
 * @file
 * Main layouts and styles for #app and other elements inside.
 */

#header {
  .container {
    @include media-container;
  }
}

#main {
  @include media-container;
  lost-flex-container: row;

  .region--sidebar-first {
    @include media-breakpoint-up(lg) {
      lost-column: 3/12 100px;
    }

    @include media-breakpoint-down(md) {
      lost-column: 6/12;
    }
  }

  .region--content {
    @include media-breakpoint-up(lg) {
      lost-column: 9/12;
    }

    @include media-breakpoint-down(md) {
      lost-column: 6/12;
    }
  }
}
