$contextual-links-bg:            white !default;
$contextual-links-border:        1px solid gray('300') !default;
$contextual-links-border-radius: 4px 0 4px 4px !default;
$contextual-links-hover-bg:      gray('200') !default;
$contextual-links-color:         inherit !default;
$contextual-links-box-shadow:    0 5px 10px 0 rgba(black, .2) !default;

.contextual-region {
  .contextual-links {
    background: $contextual-links-bg;
    border: $contextual-links-border;
    border-radius: $contextual-links-border-radius;
    box-shadow: $contextual-links-box-shadow;

    li {

      a {
        color: $contextual-links-color;
      }

      &:hover {
        a {
          background: $contextual-links-hover-bg;
        }
      }
    }
  }
}
