.form-item {
  margin: 0 0 1rem;

  .description {
    display: block;
    margin-top: 5px;
    margin-bottom: .25rem;
    color: $text-color-subtle;
    font-size: 85%;
  }
}

.form-actions {
  input {
    margin: 0 .5rem 0 0;

    &:last-child {
      margin: 0;
    }
  }
}
