/**
 * Tabs style.
 */
// Vertical tabs.
$vertical-tabs-bg:                    white;
$vertical-tabs-list-bg:               #fbfaf8;
$vertical-tabs-button-color:          #555459;
$vertical-tabs-button-color-selected: white;
$vertical-tabs-button-bg-selected:    #439fe0;
$vertical-tabs-button-text-shadow:    0 1px 0 rgba(0,0,0,.1);
$vertical-tabs-list-border:           1px solid #DDD;

// Primary tabs.
$primary-tabs-bg:                      #F5F5F5;
$primary-tabs-margin:                  0 0 1rem;
$primary-tabs-padding:                 .25rem;
$primary-tabs-inactive-color:          #bdc3c7;
$primary-tabs-task-background:         white;
$primary-tabs-task-color:              $text-color;
$primary-tabs-tab-padding:             .5rem;
$primary-tabs-task-active-color:       black;
$primary-tabs-task-active-background:  #F5F5F5;
$primary-tabs-tab-border:              1px solid #CCC;
$primary-tabs-tab-border-remove-right: true;

// Secondary tabs.
$secondary-tabs-bg:                      transparent;
$secondary-tabs-margin:                  0 0 1rem;
$secondary-tabs-padding:                 .25rem;
$secondary-tabs-inactive-color:          #bdc3c7;
$secondary-tabs-task-background:         transparent;
$secondary-tabs-task-color:              $link-color;
$secondary-tabs-tab-padding:             .5rem;
$secondary-tabs-tab-margin:              0 .5rem 0 0;
$secondary-tabs-task-active-color:       white;
$secondary-tabs-task-active-background:  $link-color;
$secondary-tabs-tab-border:              3px solid $link-color;

.primary-tabs {
  @extend .clearfix;
  background: $primary-tabs-bg;
  margin: $primary-tabs-margin;
  padding: $primary-tabs-padding;
  list-style: none;

  li {
    float: left;
    border: $primary-tabs-tab-border;

    @if ($primary-tabs-tab-border-remove-right) {
      &:not(:last-child) {
        border-right: none;
      }
    }

    a {
      display: block;
      color: $primary-tabs-task-color;
      background: $primary-tabs-task-background;
      padding: $primary-tabs-tab-padding;

      &:hover {
        background: darken($primary-tabs-task-background, 5%);
      }

      &.is-active {
        color: $primary-tabs-task-active-color;
        background: $primary-tabs-task-active-background;
      }
    }
  }
}

.secondary-tabs {
  @extend .clearfix;
  background: $secondary-tabs-bg;
  margin: $secondary-tabs-margin;
  padding: $secondary-tabs-padding;
  list-style: none;

  li {
    float: left;
    border-bottom: $secondary-tabs-tab-border;
    margin: $secondary-tabs-tab-margin;

    a {
      display: block;
      color: $secondary-tabs-task-color;
      background: $secondary-tabs-task-background;
      padding: $secondary-tabs-tab-padding;

      &:hover {
        background: darken($secondary-tabs-task-background, 5%);
      }

      &.is-active {
        color: $secondary-tabs-task-active-color;
        background: $secondary-tabs-task-active-background;
      }
    }
  }
}

// Vertical tabs.
.vertical-tabs {
  background: $vertical-tabs-bg;

  .vertical-tabs__menu {
    background: $vertical-tabs-list-bg;
    border: $vertical-tabs-list-border;

    .vertical-tabs__menu-item {
      border: none;

      a {
        color: $vertical-tabs-button-color;
        border: none;
      }

      &.selected {
        background: $vertical-tabs-button-bg-selected;

        strong, .summary {
          color: $vertical-tabs-button-color-selected;
          text-shadow: $vertical-tabs-button-text-shadow;
        }
      }
    }
  }

  .vertical-tabs__panes {
    padding: 1rem;
  }
}
