/**
 * @file
 * Text classes.
 */
$highlight-color:         #d7dae0;
$highlight-bg:            #31363f;
$highlight-info-color:    lighten($brand-info, 40%);
$highlight-info-bg:       $brand-info;
$highlight-success-color: lighten($brand-success, 40%);
$highlight-success-bg:    $brand-success;
$highlight-warning-color: lighten($brand-warning, 40%);
$highlight-warning-bg:    $brand-warning;
$highlight-error-color:   lighten($brand-error, 40%);
$highlight-error-bg:      $brand-error;

/**
 * text-* classes.
 */
.text-subtle {
  color: $text-color-subtle;
}
.text-highlight {
  color: $text-color-highlight;
}
.text-info {
  color: $text-color-info;
}
.text-success {
  color: $text-color-success;
}
.text-warning {
  color: $text-color-warning;
}
.text-error {
  color: $text-color-error;
}

/**
 * highlight-* classes.
 */
.highlight {
  padding: 1px 4px;
  font-weight: bold;
  text-shadow: none;
  border-radius: $border-radius-small;
  color: $highlight-color;
  background: $highlight-bg;
}
.highlight-info {
  @extend .highlight;
  color: $highlight-info-color;
  background: $highlight-info-bg;
}
.highlight-success {
  @extend .highlight;
  color: $highlight-success-color;
  background: $highlight-success-bg;
}
.highlight-warning {
  @extend .highlight;
  color: $highlight-warning-color;
  background: $highlight-warning-bg;
}
.highlight-error {
  @extend .highlight;
  color: $highlight-error-color;
  background: $highlight-error-bg;
}
