/**
 * Drupal links styles.
 */

.links {}

.links--inline {
  display: flex;
  margin: unset;
  padding: unset;
  list-style: none;
}

.links--inline .links__item:not(:last-child) {
  margin-right: var(--spacing-xs);
}
