/**
 * Vertical tabs.
 */

.vertical-tabs {
  display: flex;
}

.vertical-tabs__menu {
  align-self: flex-start;
  border: 1px solid var(--color-border);
}

.vertical-tabs__menu-item {
  border: none;
}

.vertical-tabs__menu-item a {
  padding: var(--spacing-sm);
  color: var(--color-text);
}

.vertical-tabs__panes {
  width: 100%;
  padding: var(--spacing-sm);
}
