/**
* @file
* Typography styles.
*/
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:      Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family:            $font-family-sans-serif;

// Font sizes.
$font-size-base:  14px;
$font-size-large: ceil($font-size-base * 1.25);
$font-size-small: ceil($font-size-base * 0.85);
$font-size-h1:    floor($font-size-base * 2);
$font-size-h2:    floor($font-size-base * 1.75);
$font-size-h3:    ceil($font-size-base * 1.5);
$font-size-h4:    ceil($font-size-base * 1.25);
$font-size-h5:    $font-size-base;
$font-size-h6:    ceil($font-size-base * 0.85);

// Line height.
// Unit-less cuz used in buttons, inputs, etc.
$line-height-base:     1.5 !default;
$line-height-computed: floor($line-height-base * $font-size-base);

// Headers default settings.
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

// Typo colors.
// Global text color on <body>.
$text-color:           #333;
$text-color-subtle:    gray('500');
$text-color-highlight: gray('600');
$text-color-info:      theme-color('info');
$text-color-success:   theme-color('success');
$text-color-warning:   theme-color('warning');
$text-color-error:     theme-color('error');

// Links
$link-color:            theme-color('primary');
$link-decoration:       none;
$link-hover-color:      theme-color-level('primary', 4);
$link-hover-decoration: none;

// <mark> tag.
$mark-bg: #FFF9C4;

// Blockqoutes.
$blockquote-font-size:    ($font-size-base * 1.15) !default;
$blockquote-border-color: gray('500') !default;

// <hr> tag.
$hr-border-color: gray('500') !default;

html {
  font-size: 1rem; // Hardcoded, because we need inherit user font-size.
}

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family;
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: $link-decoration;
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

ol, ul {
  margin: 1em 0 1em 1.45em;
  padding: 0;
}

p {
  margin: 0 0 ($line-height-computed / 2);
  
  &:last-child {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, h2, h3 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
}

h4, h5, h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

small,
.text-small {
  font-size: $font-size-small;
}
big,
.text-big {
  font-size: $font-size-large;
}

hr {
  margin-top:    $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-border-color;
}

mark {
  padding: .2em;
  background-color: $mark-bg;
}

pre {
  code {
    font-family: $font-family-monospace;
  }
}

blockquote {
  padding: ($line-height-computed / 2) $line-height-computed;
  margin: 0 0 $line-height-computed;
  font-size: $blockquote-font-size;
  border-left: 5px solid $blockquote-border-color;
}
