/**
 * @file
 * Main styles. Here must be you stylesheet.
 * Use it well.
 */

@include border-box-sizing();

body {
  padding: 0;
}

#header {
  background: url('http://d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/marky-click-through/7dd3c923-marky-header-image.jpg') center no-repeat;
  background-size: contain;
}