/**
 * @file
 * Form elements.
 */

input,
.container-inline .form-item,
.container-inline .form-select {
    display: inline-block;
    vertical-align: baseline;
    outline: none;
}

/**
 * Disable Mozilla's border.
 */
:focus {
    outline: none;
}
::-moz-focus-inner {
    border: 0;
}

/**
 * Default values for all buttons.
 */
input[type="submit"],
input[type="button"],
input[type="reset"],
button,
.gl.button,
.gl.button.normal,
.gl.button.submit,
.gl.button.reset,
.gl.button.delete {
    cursor: pointer;
    display: inline-block;
    border: none;
    vertical-align: baseline;
    color: #111111;
    margin: 0em 0.5em 0.25em 0em;
    text-transform: none;
    text-shadow: none;
    font-weight: normal;
    line-height: 1;
    font-style: normal;
    font-size: 100%;
    text-align: center;
    text-decoration: none;;
    padding: .5em 1em;
    background: #ffffff linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
    border-radius: 3px;
    box-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
}

/**
 * Normal button style.
 */
input[type="button"],
button,
.gl.button,
.gl.button.normal {
    /* Here will apply default styles which same is we need. */
    transition: all 200ms;
}

input[type="button"]:hover,
button:hover,
.gl.button:hover,
.gl.button.normal:hover {
    background: #e8e8e8 none;
    transition: all 200ms;
}

input[type="button"]:active,
button:active,
.gl.button:active,
.gl.button.normal:active {
    background: #cccccc none;
    color: rgba(0, 0, 0, 0.8);
    transition: all 200ms;
}

input[type="button"]:disabled,
button:disabled,
.gl.button:disabled,
.gl.button.normal:disabled {
    background: #cccccc none;
    color: rgba(0, 0, 0, 0.8);
    cursor: not-allowed;
    box-shadow: none;
}

/**
 * Submit button style.
 */
input[type="submit"],
.gl.button.submit {
    background-color: rgb(105, 211, 68);
    color: white;
    border: 1px solid;
    border-color: #69C543 #60AA26 #6A9521;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
    transition: all 200ms;
}

input[type="submit"]:hover,
.gl.button.submit:hover {
    background-color: rgb(109, 223, 70);
    transition: all 200ms;
}

input[type="submit"]:active,
.gl.button.submit:active {
    background-color: rgb(99, 198, 65);
    transition: all 200ms;
}

input[type="submit"]:disabled,
.gl.button.submit:disabled {
    border-color: transparent;
    background: rgb(106, 181, 79) none;
    cursor: not-allowed;
    box-shadow: none;
}

/**
 * Reset button style.
 */
input[type="reset"],
.gl.button.reset,
#edit-preview {
    color: #111;
    background-color: #f4cc67;
    border: 1px solid;
    border-color: #C59F43 #AA8326 #957321;
    text-shadow: 0 -1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
    transition: all 200ms;
}

input[type="reset"]:hover,
.gl.button.reset:hover,
#edit-preview:hover {
    background-color: #f5d175;
    transition: all 200ms;
}

input[type="reset"]:active,
.gl.button.reset:active,
#edit-preview:active {
    background-color: #f2c146;
    transition: all 200ms;
}

input[type="reset"]:disabled,
.gl.button.reset:disabled,
#edit-preview:disabled {
    border-color: transparent;
    background: rgb(161, 152, 53) none;
    color: rgba(0, 0, 0, 0.8);
    cursor: not-allowed;
    box-shadow: none;
}

/**
 * Delete button style.
 */
.gl.button.delete,
#edit-delete {
    background-color: #ff4a4d;
    color: white;
    border: 1px solid;
    border-color: #C54343 #AA2626 #952121;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
    transition: all 200ms;
}

.gl.button.delete:hover,
#edit-delete:hover {
    background-color: #ff3a36;
    transition: all 200ms;
}

.gl.button.delete:active,
#edit-delete:active {
    background-color: #d14346;
    transition: all 200ms;
}

.gl.button.delete:disabled,
#edit-delete:disabled {
    border-color: transparent;
    background: #d14346 none;
    cursor: not-allowed;
    box-shadow: none;
}

/**
 * Inputs.
 */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[autofocus],
input[required],
textarea,
select {
    background: white;
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    max-width: 100%;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

input.error,
select.error,
textarea.error {
    border-color: #e74c3c;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[autofocus]:focus,
input[required]:focus,
textarea:focus,
select:focus {
    outline: medium none;
    border-color: #66B5D2;
    box-shadow: 0px 0px 0px 1px rgba(0, 132, 180, 0.7) inset, inset 0px 2px 3px 0px rgba(0, 0, 0, 0.04);
}

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="url"]:disabled,
input[type="number"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="week"]:disabled,
input[type="time"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[autodisabled]:disabled,
input[required]:disabled,
textarea:disabled,
select:disabled {
    cursor: not-allowed;
    background: rgb(250, 250, 250);
    font-size: 100%;
    color: rgba(163, 163, 163, 1);
    text-shadow: none;
}

/* Vertical tabs */
.vertical-tabs .vertical-tabs-list .vertical-tab-button {
    background: rgb(254, 254, 254);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY3ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 254, 254, 1)), color-stop(100%, rgba(246, 247, 248, 1)));
    background: -webkit-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    background: -o-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    background: -ms-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f6f7f8', GradientType=0);
}

.vertical-tabs .vertical-tabs-list * {
    text-decoration: none !important;
    outline: 0 !important;
}

.vertical-tabs .vertical-tabs-list .vertical-tab-button a {
    color: rgba(80, 74, 74, 1);
    border: none;
}

.vertical-tabs .vertical-tabs-list .vertical-tab-button.selected {
    background: white;
}

.vertical-tabs ul.vertical-tabs-list .selected strong {
    color: #5890FF;
}

/* Fieldsets */
fieldset {
    border: 1px solid #D0D0D0;
    padding: 15px;
    position: relative;
    margin: 15px 0px;
}

fieldset .fieldset-legend {
    font-weight: bold;
    margin-top: 5px;
    position: absolute;
    text-transform: uppercase;
}

fieldset .fieldset-wrapper {
    margin: 20px 0px 0 0;
}

html.js fieldset.collapsed {
    border-width: 1px;
}

html.js fieldset.collapsible .fieldset-legend {
    padding-left: 15px;
}

/* Glisseo checkbox */
input[type="checkbox"].glisseo-checkbox {
    display: none;
}

.glisseo-checkbox-switcher {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    overflow: hidden;
    width: 76px;
    background: rgb(233, 234, 237);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZWFlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(233, 234, 237, 1) 0%, rgba(244, 244, 246, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(233, 234, 237, 1)), color-stop(100%, rgba(244, 244, 246, 1)));
    background: -webkit-linear-gradient(top, rgba(233, 234, 237, 1) 0%, rgba(244, 244, 246, 1) 100%);
    background: -o-linear-gradient(top, rgba(233, 234, 237, 1) 0%, rgba(244, 244, 246, 1) 100%);
    background: -ms-linear-gradient(top, rgba(233, 234, 237, 1) 0%, rgba(244, 244, 246, 1) 100%);
    background: linear-gradient(to bottom, rgba(233, 234, 237, 1) 0%, rgba(244, 244, 246, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9eaed', endColorstr='#f4f4f6', GradientType=0);
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    line-height: 23px;
}

.glisseo-checkbox-switcher-container {
    width: 200px;
    position: relative;
    left: -38px;
    transition: all 0.17s ease 0s;
}

.glisseo-checkbox-switcher .left {
    width: 37px;
    height: 23px;
    float: left;
    color: #5890ff;
    text-shadow: 0px 1px 0 white;
}

.glisseo-checkbox-switcher .mid {
    width: 37px;
    height: 23px;
    float: left;
    background: rgb(254, 254, 254);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY3ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 254, 254, 1)), color-stop(100%, rgba(246, 247, 248, 1)));
    background: -webkit-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    background: -o-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    background: -ms-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f6f7f8', GradientType=0);
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #D0D0D0;
    border-radius: 3px;
}

.glisseo-checkbox-switcher .right {
    width: 37px;
    height: 23px;
    float: left;
    color: #555;
}

input[type="checkbox"].glisseo-checkbox:checked ~ .glisseo-checkbox-switcher .glisseo-checkbox-switcher-container {
    left: 1px;
    transition: all 0.17s ease 0s;
}

input[type="checkbox"].glisseo-checkbox:disabled ~ .glisseo-checkbox-switcher {
    opacity: .5;
}

.glisseo-checkbox-switcher ~ .description {
    margin-left: 80px;
}

/* Glisseo radio */
input[type="radio"].glisseo-radio {
    display: none;
}

.glisseo-radio-wrapper {
    position: relative;
    width: 17px;
    height: 17px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    border: 1px solid #a0a0a0;
    box-shadow: none;
    background: rgb(252, 252, 252);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 252, 1)), color-stop(100%, rgba(240, 240, 240, 1)));
    background: -webkit-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -o-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -ms-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: linear-gradient(to bottom, rgba(252, 252, 252, 1) 0%, rgba(240, 240, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f0f0f0', GradientType=0);
    transition: all 0.17s ease 0s;
}

.glisseo-radio-wrapper:hover {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.11);
    transition: all 0.17s ease 0s;
}

.glisseo-radio-wrapper .glisseo-radio-mark {
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background: none repeat scroll 0% 0% rgba(72, 72, 72, 1);
    margin: 4px auto;
    opacity: 0;
    transition: all 0.17s ease 0s;
}

input[type="radio"].glisseo-radio:checked ~ .glisseo-radio-wrapper {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.22) inset;
    transition: all 0.17s ease 0s;
}

input[type="radio"].glisseo-radio:checked ~ .glisseo-radio-wrapper .glisseo-radio-mark {
    opacity: 1;
    transition: all 0.17s ease 0s;
}

input[type="radio"].glisseo-radio:disabled ~ .glisseo-radio-wrapper {
    opacity: .5
}
