/**
 * @file
 * Form elements.
 */

input,
.container-inline .form-item,
.container-inline .form-select {
    display: inline-block;
    vertical-align: baseline;
    outline: none;
}

/**
 * Disable Mozilla's border.
 */
:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

/**
 * Default values for all buttons.
 */
input[type="submit"],
input[type="button"],
input[type="reset"],
button,
.button,
.button-normal,
.button-submit,
.button-preview,
.button-delete {
    display: inline-block;
    line-height: normal;
    border-width: 1px;
    border-style: solid;
    border-color: #c3c3c3 #aeaeae #939393;
    font-weight: normal;
    padding: .5em 1em;
    border-radius: 3px;
    color: #333;
    font-size: 100%;
}

/**
 * Normal button.
 */
input[type="button"],
input[type="reset"],
button,
.button-normal {
    background: rgb(254, 254, 254);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 254, 254, 1)), color-stop(100%, rgba(238, 238, 238, 1)));
    background: -webkit-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: -o-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: -ms-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 254, 254, 1) 0%, rgba(238, 238, 238, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#eeeeee', GradientType=0);
    border-color: #c3c3c3 #aeaeae #939393;
}

input[type="button"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover,
.button-normal:hover {
    cursor: pointer;
    background: rgb(254, 254, 254);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY1ZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(254, 254, 254, 1) 1%, rgba(246, 245, 243, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, rgba(254, 254, 254, 1)), color-stop(100%, rgba(246, 245, 243, 1)));
    background: -webkit-linear-gradient(top, rgba(254, 254, 254, 1) 1%, rgba(246, 245, 243, 1) 100%);
    background: -o-linear-gradient(top, rgba(254, 254, 254, 1) 1%, rgba(246, 245, 243, 1) 100%);
    background: -ms-linear-gradient(top, rgba(254, 254, 254, 1) 1%, rgba(246, 245, 243, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 254, 254, 1) 1%, rgba(246, 245, 243, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f6f5f3', GradientType=0);
}

input[type="button"]:active,
input[type="button"].active,
input[type="reset"]:active,
input[type="reset"].active,
button:active,
button.active,
.button:active,
.button.active,
.button-normal:active,
.button-normal.active {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21) inset;
    background: #fefefe;
}

input[type="button"]:focus,
input[type="button"].focus,
input[type="reset"]:focus,
input[type="reset"].focus,
button:focus,
button.focus,
.button:focus,
.button.focus,
.button-normal:focus,
.button-normal.focus {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
}

input[type="button"]:disabled,
input[type="button"].disabled,
input[type="reset"]:disabled,
input[type="reset"].disabled,
button:disabled,
button.disabled,
.button:disabled,
.button.disabled,
.button-normal:disabled,
.button-normal.disabled {
    cursor: not-allowed;
    background: rgba(249, 249, 249, 1);
    font-size: 100%;
    color: rgba(183, 183, 183, 1);
}

/**
 * Submit button.
 */
input[type="submit"],
#edit-submit,
.button-submit {
    background: rgb(137, 220, 108);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg5ZGM2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MGIxNDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(137, 220, 108, 1) 0%, rgba(96, 177, 68, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(137, 220, 108, 1)), color-stop(100%, rgba(96, 177, 68, 1)));
    background: -webkit-linear-gradient(top, rgba(137, 220, 108, 1) 0%, rgba(96, 177, 68, 1) 100%);
    background: -o-linear-gradient(top, rgba(137, 220, 108, 1) 0%, rgba(96, 177, 68, 1) 100%);
    background: -ms-linear-gradient(top, rgba(137, 220, 108, 1) 0%, rgba(96, 177, 68, 1) 100%);
    background: linear-gradient(to bottom, rgba(137, 220, 108, 1) 0%, rgba(96, 177, 68, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89dc6c', endColorstr='#60b144', GradientType=0);
    color: white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.17);
    border-color: #5ca941;
    box-shadow: inset 0 1px 0px 0px rgba(255, 255, 255, 0.37)
}

input[type="submit"]:hover,
#edit-submit:hover,
.button-submit:hover {
    background: #82d863;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgyZDg2MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1Y2FkM2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #82d863 0%, #5cad3c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #82d863), color-stop(100%, #5cad3c));
    background: -webkit-linear-gradient(top, #82d863 0%, #5cad3c 100%);
    background: -o-linear-gradient(top, #82d863 0%, #5cad3c 100%);
    background: -ms-linear-gradient(top, #82d863 0%, #5cad3c 100%);
    background: linear-gradient(to bottom, #82d863 0%, #5cad3c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82d863', endColorstr='#5cad3c', GradientType=0);
}

input[type="submit"]:active,
input[type="submit"].active,
#edit-submit:active,
#edit-submit.active,
.button-submit:active,
.button-submit.active {
    background: #5BA33E;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.19) !important;
}

input[type="submit"]:focus,
input[type="submit"].focus,
#edit-submit:focus,
#edit-submit.focus,
.button-submit:focus,
.button-submit.focus {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
}

input[type="submit"]:disabled,
input[type="submit"].disabled,
#edit-submit:disabled,
#edit-submit.disabled,
.button-submit:disabled,
.button-submit.disabled {
    cursor: not-allowed;
    background: rgba(140, 197, 143, 1);
    font-size: 100%;
    color: rgba(250, 250, 250, 1);
    text-shadow: none;
}

/**
 * Preview button.
 */
input[type="preview"],
#edit-preview,
input.button-preview,
.button-preview {
    background: rgb(244, 236, 90);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZWM1YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWRlMTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(244, 236, 90, 1) 0%, rgba(229, 222, 23, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(244, 236, 90, 1)), color-stop(100%, rgba(229, 222, 23, 1)));
    background: -webkit-linear-gradient(top, rgba(244, 236, 90, 1) 0%, rgba(229, 222, 23, 1) 100%);
    background: -o-linear-gradient(top, rgba(244, 236, 90, 1) 0%, rgba(229, 222, 23, 1) 100%);
    background: -ms-linear-gradient(top, rgba(244, 236, 90, 1) 0%, rgba(229, 222, 23, 1) 100%);
    background: linear-gradient(to bottom, rgba(244, 236, 90, 1) 0%, rgba(229, 222, 23, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4ec5a', endColorstr='#e5de17', GradientType=0);
    color: #333;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.47);
    border-color: #B9B313;
    box-shadow: inset 0 1px 0px 0px rgba(255, 255, 255, 0.37)
}

input[type="preview"]:hover,
#edit-preview:hover,
.button-preview:hover,
input.button-preview:hover {
    background: #f2e41f;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZTQxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmQ3MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f2e41f 0%, #e2d700 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2e41f), color-stop(100%, #e2d700));
    background: -webkit-linear-gradient(top, #f2e41f 0%, #e2d700 100%);
    background: -o-linear-gradient(top, #f2e41f 0%, #e2d700 100%);
    background: -ms-linear-gradient(top, #f2e41f 0%, #e2d700 100%);
    background: linear-gradient(to bottom, #f2e41f 0%, #e2d700 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2e41f', endColorstr='#e2d700', GradientType=0);
}

input[type="preview"]:active,
input[type="preview"].active,
#edit-preview:active,
#edit-preview.active,
.button-preview:active,
.button-preview.active,
input.button-preview:active,
input.button-preview.active {
    background: #f2e41f;
    color: #333;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.19) !important;
}

input[type="preview"]:focus,
input[type="preview"].focus,
#edit-preview:focus,
#edit-preview.focus,
.button-preview:focus,
.button-preview.focus,
input.button-preview:focus,
input.button-preview.focus {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
}

input[type="preview"]:disabled,
input[type="preview"].disabled,
#edit-preview:disabled,
#edit-preview.disabled,
.button-preview:disabled,
.button-preview.disabled,
input.button-preview:disabled,
input.button-preview.disabled {
    cursor: not-allowed;
    background: #E7DE65;
    color: #333;
    text-shadow: none;
}

/**
 * Delete button.
 */
input[type="delete"],
#edit-delete,
.button-delete,
input.button-delete {
    background: rgb(245, 129, 105);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ODE2OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOTRlMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(245, 129, 105, 1) 0%, rgba(233, 78, 43, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245, 129, 105, 1)), color-stop(100%, rgba(233, 78, 43, 1)));
    background: -webkit-linear-gradient(top, rgba(245, 129, 105, 1) 0%, rgba(233, 78, 43, 1) 100%);
    background: -o-linear-gradient(top, rgba(245, 129, 105, 1) 0%, rgba(233, 78, 43, 1) 100%);
    background: -ms-linear-gradient(top, rgba(245, 129, 105, 1) 0%, rgba(233, 78, 43, 1) 100%);
    background: linear-gradient(to bottom, rgba(245, 129, 105, 1) 0%, rgba(233, 78, 43, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f58169', endColorstr='#e94e2b', GradientType=0);
    color: white;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.17);
    border-color: rgb(167, 56, 29);
    box-shadow: inset 0 1px 0px 0px rgba(255, 255, 255, 0.37)
}

input[type="delete"]:hover,
#edit-delete:hover,
.button-delete:hover,
input.button-delete:hover {
    background: #f46346;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0NjM0NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlODJlMDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f46346 0%, #e82e04 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f46346), color-stop(100%, #e82e04));
    background: -webkit-linear-gradient(top, #f46346 0%, #e82e04 100%);
    background: -o-linear-gradient(top, #f46346 0%, #e82e04 100%);
    background: -ms-linear-gradient(top, #f46346 0%, #e82e04 100%);
    background: linear-gradient(to bottom, #f46346 0%, #e82e04 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f46346', endColorstr='#e82e04', GradientType=0);
}

input[type="delete"]:active,
input[type="delete"].active,
#edit-delete:active,
#edit-delete.active,
.button-delete:active,
.button-delete.active,
input.button-delete:active,
input.button-delete.active {
    background: #f46346;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.19) !important;
}

input[type="delete"]:focus,
input[type="delete"].focus,
#edit-delete:focus,
#edit-delete.focus,
.button-delete:focus,
.button-delete.focus,
input.button-delete:focus,
input.button-delete.focus {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
}

input[type="delete"]:disabled,
input[type="delete"].disabled,
#edit-delete:disabled,
#edit-delete.disabled,
.button-delete:disabled,
.button-delete.disabled,
input.button-delete:disabled,
input.button-delete.disabled {
    cursor: not-allowed;
    background: rgba(229, 132, 120, 1);
    font-size: 100%;
    color: rgba(250, 250, 250, 1);
    text-shadow: none;
}

/**
 * Inputs.
 */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[autofocus],
input[required],
textarea,
select {
    background: white;
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #E1E8ED;
    border-radius: 3px;
    box-sizing: border-box;
    max-width: 100%;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.04);
}

input.error,
select.error,
textarea.error {
    border-color: #e74c3c;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[autofocus]:focus,
input[required]:focus,
textarea:focus,
select:focus {
    outline: medium none;
    border-color: #66B5D2;
    box-shadow: 0px 0px 0px 1px rgba(0, 132, 180, 0.7) inset, inset 0px 2px 3px 0px rgba(0, 0, 0, 0.04);
}

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="url"]:disabled,
input[type="number"]:disabled,
input[type="date"]:disabled,
input[type="month"]:disabled,
input[type="week"]:disabled,
input[type="time"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[autodisabled]:disabled,
input[required]:disabled,
textarea:disabled,
select:disabled {
    cursor: not-allowed;
    background: rgb(250, 250, 250);
    font-size: 100%;
    color: rgba(163, 163, 163, 1);
    text-shadow: none;
}

/* Vertical tabs */
.vertical-tabs .vertical-tabs-list .vertical-tab-button {
    background: rgb(254, 254, 254);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY3ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 254, 254, 1)), color-stop(100%, rgba(246, 247, 248, 1)));
    background: -webkit-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    background: -o-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    background: -ms-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f6f7f8', GradientType=0);
}

.vertical-tabs .vertical-tabs-list * {
    text-decoration: none !important;
    outline: 0 !important;
}

.vertical-tabs .vertical-tabs-list .vertical-tab-button a {
    color: rgba(80, 74, 74, 1);
    border: none;
}

.vertical-tabs .vertical-tabs-list .vertical-tab-button.selected {
    background: white;
}

.vertical-tabs ul.vertical-tabs-list .selected strong {
    color: #5890FF;
}

/* Fieldsets */
fieldset {
    border: 1px solid #D0D0D0;
    padding: 15px;
    position: relative;
    margin: 15px 0px;
}

fieldset .fieldset-legend {
    font-weight: bold;
    margin-top: 5px;
    position: absolute;
    text-transform: uppercase;
}

fieldset .fieldset-wrapper {
    margin: 20px 0px 0 0;
}

html.js fieldset.collapsed {
    border-width: 1px;
}

html.js fieldset.collapsible .fieldset-legend {
    padding-left: 15px;
}

/* Glisseo checkbox */
input[type="checkbox"].glisseo-checkbox {
    display: none;
}

.glisseo-checkbox-switcher {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    overflow: hidden;
    width: 76px;
    background: rgb(233, 234, 237);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZWFlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(233, 234, 237, 1) 0%, rgba(244, 244, 246, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(233, 234, 237, 1)), color-stop(100%, rgba(244, 244, 246, 1)));
    background: -webkit-linear-gradient(top, rgba(233, 234, 237, 1) 0%, rgba(244, 244, 246, 1) 100%);
    background: -o-linear-gradient(top, rgba(233, 234, 237, 1) 0%, rgba(244, 244, 246, 1) 100%);
    background: -ms-linear-gradient(top, rgba(233, 234, 237, 1) 0%, rgba(244, 244, 246, 1) 100%);
    background: linear-gradient(to bottom, rgba(233, 234, 237, 1) 0%, rgba(244, 244, 246, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9eaed', endColorstr='#f4f4f6', GradientType=0);
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    line-height: 23px;
}

.glisseo-checkbox-switcher-container {
    width: 200px;
    position: relative;
    left: -38px;
    transition: all 0.17s ease 0s;
}

.glisseo-checkbox-switcher .left {
    width: 37px;
    height: 23px;
    float: left;
    color: #5890ff;
    text-shadow: 0px 1px 0 white;
}

.glisseo-checkbox-switcher .mid {
    width: 37px;
    height: 23px;
    float: left;
    background: rgb(254, 254, 254);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY3ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 254, 254, 1)), color-stop(100%, rgba(246, 247, 248, 1)));
    background: -webkit-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    background: -o-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    background: -ms-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 254, 254, 1) 0%, rgba(246, 247, 248, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f6f7f8', GradientType=0);
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #D0D0D0;
    border-radius: 3px;
}

.glisseo-checkbox-switcher .right {
    width: 37px;
    height: 23px;
    float: left;
    color: #555;
}

input[type="checkbox"].glisseo-checkbox:checked ~ .glisseo-checkbox-switcher .glisseo-checkbox-switcher-container {
    left: 1px;
    transition: all 0.17s ease 0s;
}

input[type="checkbox"].glisseo-checkbox:disabled ~ .glisseo-checkbox-switcher {
    opacity: .5;
}

.glisseo-checkbox-switcher ~ .description {
    margin-left: 80px;
}

/* Glisseo radio */
input[type="radio"].glisseo-radio {
    display: none;
}

.glisseo-radio-wrapper {
    position: relative;
    width: 17px;
    height: 17px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    border: 1px solid #a0a0a0;
    box-shadow: none;
    background: rgb(252, 252, 252);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 252, 1)), color-stop(100%, rgba(240, 240, 240, 1)));
    background: -webkit-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -o-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -ms-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: linear-gradient(to bottom, rgba(252, 252, 252, 1) 0%, rgba(240, 240, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f0f0f0', GradientType=0);
    transition: all 0.17s ease 0s;
}

.glisseo-radio-wrapper:hover {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.11);
    transition: all 0.17s ease 0s;
}

.glisseo-radio-wrapper .glisseo-radio-mark {
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background: none repeat scroll 0% 0% rgba(72, 72, 72, 1);
    margin: 4px auto;
    opacity: 0;
    transition: all 0.17s ease 0s;
}

input[type="radio"].glisseo-radio:checked ~ .glisseo-radio-wrapper {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.22) inset;
    transition: all 0.17s ease 0s;
}

input[type="radio"].glisseo-radio:checked ~ .glisseo-radio-wrapper .glisseo-radio-mark {
    opacity: 1;
    transition: all 0.17s ease 0s;
}

input[type="radio"].glisseo-radio:disabled ~ .glisseo-radio-wrapper {
    opacity: .5
}
