/**
 * @file
 * Typography styles.
 */
html {
    font-size: 1em;
}

body {
    font-size: 0.875rem;
    line-height: 1.4;
    font-family: sans-serif;
    color: rgba(0, 0, 0, .7);
}

ol, ul {
    margin: 1em 0 1em 1.45em;
    padding: 0;
}

p {
    margin: 1em 0;
}

h1, h2, h3, h4 {
    margin: calc(2rem - .2em) 0 1rem;
    font-weight: inherit;
    line-height: 1.2;
    color: rgba(0, 0, 0, .8);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.714rem;
}

h3 {
    font-size: 1.28rem;
}

h4 {
    font-size: 1.071rem;
}

h5 {
    font-size: 1rem;
}

.subheader {
    color: rgba(0,0,0,.5);
    display: block;
    font-weight: normal;
}

h1 .subheader {
    font-size: 1.14rem;
}

h2 .subheader {
    font-size: 1.12rem;
}

h3 .subheader {
    font-size: 1rem;
}

h4 .subheader {
    font-size: .9rem;
}

h5 .subheader {
    font-size: .875rem;
}

small, .font_small {
    font-size: 0.75em;
}

hr {
    border: 0px solid rgba(0, 0, 0, .1);
    border-top-width: 1px;
}