/**
* @file
* Typography styles.
*/
html {
  font-size: 1rem; // Hardcoded, because we need inherit user font-size.
}

body {
  @include font-size($font-size-base);
  font-family: $font-family-base:;
  line-height: $line-height-computed;
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: $link-hover-decoration;
  &:hover {
    color: $link-hover-color;
  }
  &:visited {
    color: $link-visited-color;
  }
}

ol,
ul {
  margin: 1em 0 1em 1.45em;
  padding: 0;
}

p {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, h2, h3 {
  margin-top: $line-height-computed;
  margin-bottom: ($line-height-computed / 2);
}

h4, h5, h6 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: ($line-height-computed / 2);
}

h1 { @include font-size($font-size-h1); }
h2 { @include font-size($font-size-h2); }
h3 { @include font-size($font-size-h3); }
h4 { @include font-size($font-size-h4); }
h5 { @include font-size($font-size-h5); }
h6 { @include font-size($font-size-h6); }

small, .text-small {
  font-size:  pxtorem($font-size-small);
}
big, .text-big {
  font-size:  pxtorem($font-size-large);
}

hr {
  border: 0px solid rgba(0, 0, 0, .1);
  border-top-width: 1px;
}

label {
  display: block;
}

pre {
  code {
    font-family: $font-family-monospace;
  }
}

blockquote {
  border-left: 4px solid #DDD;
  margin: 0;
  padding: 1rem;
  color: #777;
  background: #F8F8F8;
}
