/**
 * @file
 * Variables.
 */

/**
 * Sizes.
 */
$site-width: 1200px;

/**
 * Colors presets.
 */
$gray-base:    #000;
$gray-darken:  lighten($gray-base, 13.5%);
$gray-dark:    lighten($gray-base, 20%);
$gray:         lighten($gray-base, 33.5%);
$gray-light:   lighten($gray-base, 46.7%);
$gray-lighter: lighten($gray-base, 93.5%);

// Links
$link-color: #4a90d9;
$link-hover-color: #276ea3;
$link-visited-color: $link-color;
$link-hover-decoration: none;

$text-color: $gray-dark;
$body-bg:    white;

/**
 * Typography.
 */
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:  14px;
$font-size-large: ceil($font-size-base * 1.25);
$font-size-small: ceil($font-size-base * 0.85);

$font-size-h1: floor($font-size-base * 2.6);
$font-size-h2: floor($font-size-base * 2.15);
$font-size-h3: ceil($font-size-base * 1.7);
$font-size-h4: ceil($font-size-base * 1.25);
$font-size-h5: $font-size-base
$font-size-h6: ceil($font-size-base * 0.85);

// Unit-less cuz used in buttons, inputs, etc.
$line-height-base:     1.428571429;
$line-height-computed: floor($line-height-base * $font-size-base);

/**
 * Messages colors.
 */
$message-error-bg: #F2DEDE;
$message-error-border: #EBCCD1;
$message-error-color: #A94442;

$message-status-bg: #DFF0D8;
$message-status-border: #D6E9C6;
$message-status-color: #3C763D;

$message-warning-bg: #FCF8E3;
$message-warning-border: #FAEBCC;
$message-warning-color: #8A6D3B;

