// =============================================================================
// Selection.
// =============================================================================

:root {
  --selection-background: var(--color-gainsboro);
  --selection-color: var(--text-color);
}

::selection {
  background: var(--selection-background);
  color: var(--selection-color);
}
