// =============================================================================
// Form and Drupal Form API elements.
// =============================================================================

// =============================================================================
// The .form-item styles.
// =============================================================================
.form-item {
  margin: 0 0 var(--spacing-xs);
}

.form-item__description {
  font-size: var(--font-size-xs);
  display: block;
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
  color: var(--color-gray-70);
}

.form-item__input {
  vertical-align: middle;
}

.form-item__label {
  font-size: var(--font-size-sm);
  display: inline-block;
  margin-bottom: var(--spacing-xs);
  cursor: pointer;
  vertical-align: middle;
}

.form-item__label--required::after {
  display: inline-block;
  margin: 0 0 0 0.25em;
  content: '*';
  color: var(--color-error);
}

.form-item__label.option {
  margin-bottom: 0;
  margin-left: var(--spacing-xs);
}

.form-type-checkbox,
.form-type-radio {
  margin-bottom: 0;
}

// =============================================================================
// The .filter-wrapper styles.
// =============================================================================
.filter-wrapper {
  margin-top: calc(var(--spacing-sm) * -1);
}

// =============================================================================
// The .form-wrapper styles.
// =============================================================================
.form-wrapper {
}

.form-wrapper__summary {
  padding: var(--spacing-xs);
  cursor: pointer;
  background: gray(100);
}

.form-wrapper__content {
  padding: var(--spacing-xs);
}

// =============================================================================
// The .form-control styles.
// =============================================================================
:root {
  --form-control-background: var(--color-white);
  --form-control-color: var(--text-color);
  --form-control-font-size: 1em;
  --form-control-line-height: 1.5;
  --form-control-padding-y: 0.5em;
  --form-control-padding-x: 0.75em;
  --form-control-border-radius: var(--radius-xxs);
  --form-control-focus-shadow-color: var(--color-blue-30);
}

.form-control {
  font-size: var(--form-control-font-size);
  line-height: var(--form-control-line-height);
  display: block;
  width: 100%;
  max-width: 100%;
  padding: var(--form-control-padding-y) var(--form-control-padding-x);
  color: var(--form-control-color);
  border: 1px solid var(--color-gray-20);
  border-radius: var(--form-control-border-radius);
  background-color: var(--form-control-background);
}

.form-control:focus {
  border-color: var(--color-primary);
  outline: none;
  box-shadow: 0 0 0 3px var(--form-control-focus-shadow-color);
}

.form-control:disabled {
  cursor: not-allowed;
  --form-control-background: var(--color-black-03);
}

.form-control.error {
  border-color: var(--color-error);
  --form-control-focus-shadow-color: var(--color-error);
}

.form-control.error:focus {
  border-color: var(--color-error);
}
