// =============================================================================
// Tables.
// =============================================================================

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: var(--spacing-sm);
  border-collapse: collapse;
}

.table th,
.table td {
  padding: var(--spacing-xs);
  text-align: inherit;
  border-top: 1px solid var(--color-gray-10);
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid var(--color-gray-20);
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}
