// Vertical tabs.
// @todo disable default library.
.vertical-tabs {
  display: flex;
}

.vertical-tabs__menu {
  align-self: flex-start;
  border: 1px solid var(--color-gray-10);
}

.vertical-tabs__menu-item {
  border: none;
}

.vertical-tabs__menu-item a {
  padding: var(--spacing-sm);
  color: var(--text-color);
}

.vertical-tabs__panes {
  width: 100%;
  padding: var(--spacing-sm);
}
