/**
 * @file
 * Functions.
 */

/**
 * Remove units and return plain number.
 */
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

/**
 * Calculating rem size.
 * @param
 *   $size - size need to be converted to rem.
 */
@function rem($size) {
  $remSize: strip-unit($size) / 16;
  @return #{$remSize}rem;
}

/**
 * Calculating em size.
 * @param
 *   $size - size need to be converted to em.
 */
@function em($size) {
  $remSize: strip-unit($size) / 16;
  @return #{$remSize}rem;
}

/**
 * Compares contrast of a given color to the light/dark arguments and returns
 * whichever is most "contrasty".
 */
@function color-contrast($color, $dark: #000, $light: #fff) {
  @if $color == null {
    @return null;
  }
  @else {
    $yiq: (red($color) * 299 + green($color) * 587 + blue($color) * 114) / 1000;
    @return if($yiq >= 128, $dark, $light);
  }
}

/**
 * Find next breakpoint, otherwise return nothing.
 * @example
 *   breakpoint-next(sm);
 *   return: md
 */
@function breakpoint-next($name, $breakpoints: $media-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

/**
 * Returns minimum width for provided breakpoint.
 * @example
 *   breakpoint-min(sm);
 *   return: 576px
 */
@function breakpoint-min($name, $breakpoints: $media-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

/**
 * Returns maximum width for provided breakpoint.
 * @example
 *   breakpoint-min(sm);
 *   return: 768px
 */
@function breakpoint-max($name, $breakpoints: $media-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}

/**
 * Return color by his key.
 */
@function theme-color($key: 'primary') {
  @return map-get($theme-colors, $key);
}

/**
 * Return mixed color by his key.
 */
@function theme-color-level($color-name: 'primary', $level: 0) {
  $color: theme-color($color-name);
  $color-base: if($level > 0, #000, #fff);
  $level: abs($level);
  @return mix($color-base, $color, $level * $theme-color-interval);
}
