// =====================================
// This class provided by Drupal core, but we disable this library, to remove
// a lot of unused styles, and restore this one.
// =====================================
.visually-hidden {
  @include visually-hidden(true);
}
