/**
 * @file
 * Global variables.
 */

// UI colors.
$theme-colors: () !default;

// Background color for <body>.
$body-bg: #fff;

// Base colors.
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
  '100': $gray-100,
  '200': $gray-200,
  '300': $gray-300,
  '400': $gray-400,
  '500': $gray-500,
  '600': $gray-600,
  '700': $gray-700,
  '800': $gray-800,
  '900': $gray-900
), $grays);

$theme-colors: map-merge((
  'primary':   #4caf50,
  'secondary': #4caf50,
  'success':   #4CAF50,
  'info':      #29B6F6,
  'warning':   #FF9800,
  'error':     #F44336,
), $theme-colors);

$theme-color-interval: 8% !default;

// Background and text colors for selected elements.
$selection-bg:    #8bc34a;
$selection-color: white;

// Border radius.
$border-radius-small: 3px !default;
$border-radius-base:  4px !default;
$border-radius-large: 6px !default;

/**
 * Media breakpoints.
 */
// Minimum width for breakpoints.
$media-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Gutters for container.
$media-gutter-width: (
  xs: 30px,
  sm: 30px,
  md: 30px,
  lg: 30px,
  xl: 30px,
) !default;

// Maximum width for container.
// @see mixin media-containers-max-width()
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;
