/**
 * @file
 * Global variables.
 */

// UI colors.
$ui-site-color-1: red;
$ui-site-color-2: blue;
$ui-site-color-3: green;

// Background color for <body>.
$body-bg: #fff;

// Base colors.
$gray-base:    #000;
$gray-darken:  lighten($gray-base, 13.5%);
$gray-dark:    lighten($gray-base, 20%);
$gray:         lighten($gray-base, 33.5%);
$gray-light:   lighten($gray-base, 46.7%);
$gray-lighter: lighten($gray-base, 93.5%);

// Branding.
$brand-main:         #f44336;
$brand-border-color: #E8E8E8;
$brand-primary:      #3F51B5;
$brand-success:      #4CAF50 !default;
$brand-info:         #29B6F6 !default;
$brand-warning:      #FF9800 !default;
$brand-error:        #F44336 !default;

// Background and text colors for selected elements.
$selection-bg:    #673AB7;
$selection-color: white;

// Border radius.
$border-radius-small: 3px !default;
$border-radius-base:  4px !default;
$border-radius-large: 6px !default;

/**
 * Media breakpoints.
 */
// Minimum width for breakpoints.
$media-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Gutters for container.
$media-gutter-width: (
  xs: 30px,
  sm: 30px,
  md: 30px,
  lg: 30px,
  xl: 30px,
) !default;

// Maximum width for container.
// @see mixin media-containers-max-width()
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;
