// =============================================================================
// Blockquotes.
// =============================================================================

:root {
  --blockquote-font-size: var(--text-lg);
  --blockquote-border-size: 4px;
  --blockquote-paddings: var(--spacing-unit);
  --blockquote-margins: var(--spacing-sm) 0;
  --blockquote-background: transparent;
  --blockquote-border-color: var(--color-gray-40);
}

blockquote {
  font-size: var(--blockquote-font-size);
  padding: var(--blockquote-paddings);
  margin: var(--blockquote-margins);
  border-left: var(--blockquote-border-size) solid var(--blockquote-border-color);
  background: var(--blockquote-background);
}
