// =============================================================================
// Horizontal rules.
// =============================================================================

hr {
  margin: var(--spacing-sm) 0;
  border: unset;
  border-top: 1px solid var(--color-silver);
}
