// =============================================================================
// Links.
// =============================================================================

:root {
  --link-color: var(--color-blue);
  --link-color--hover: var(--color-blue--hover);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color--hover);
  text-decoration: none;
}
