// =============================================================================
// Typography.
// =============================================================================

:root {
  // Text sizes.
  --text-base-size: 16px;
  --text-xxs: 13px;
  --text-xs: 14px;
  --text-sm: 15px;
  --text-md: 18px;
  --text-lg: 24px;
  --text-xl: 28px;
  --text-xxl: 32px;

  --text-color: hsl(0, 0%, 7%);

  --font-primary: sans-serif;
  --font-secondary: serif;
  --font-monospace: monospace;
  --font-family: var(--font-primary);
  --body-line-height: 1.4;

  --mark-background: hsl(60, 100%, 50%);
  --code-background: var(--page-background);

  --p-margin-bottom: var(--spacing-sm);
}

body {
  font-family: var(--font-family);
  font-size: var(--text-base-size);
  line-height: var(--body-line-height);
  color: var(--text-color);
}

p {
  margin-top: unset;
  margin-bottom: var(--p-margin-bottom);
}

small {
  font-size: 80%;
  font-weight: normal;
}

big {
  font-size: 120%;
  font-weight: normal;
}

mark {
  padding: var(--spacing-xs);
  background-color: var(--mark-background);
}

code {
  font-family: var(--font-monospace);
  font-size: 90%;
  padding: 4px 6px;
  word-break: break-all;
  border-radius: 4px;
  background-color: var(--code-background);
}

pre code {
  // Fixes unwanted padding for first and last line of code.
  padding: unset;
}
