$highlight-color:         #d7dae0;
$highlight-bg:            #31363f;
$highlight-info-color:    lighten(theme-color('info'), 40%);
$highlight-info-bg:       theme-color('info');
$highlight-success-color: lighten(theme-color('success'), 40%);
$highlight-success-bg:    theme-color('success');
$highlight-warning-color: lighten(theme-color('warning'), 40%);
$highlight-warning-bg:    theme-color('warning');
$highlight-error-color:   lighten(theme-color('error'), 40%);
$highlight-error-bg:      theme-color('error');
