// =====================================
// Remove units and return plain number.
// =====================================
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// =====================================
// Return gap size.
// This functions is used in default styles as "rule of 8px".
// @see https://medium.com/wayfair-design/more-padding-please-b95e19422acc
// =====================================
@function gap($size: 1) {
  @return $gap-size * $size;
}
