:root {
  --radius-xxs: 0.125rem; /* 0.125 * 16px = 2px */
  --radius-xs: 0.25rem; /* 0.25 * 16px = 4px */
  --radius-sm: 0.5rem; /* 0.5 * 16px = 8px */
  --radius-md: 0.75rem; /* 0.75 * 16px = 12px */
  --radius-lg: 1rem; /* 1 * 16px = 16px */
}
