{% set block = 'local-actions' %}
{%
  set modifiers = [
    is_active ? 'active'
  ]
%}
{%
  set classes = [
    bem(block, 'item', modifiers),
  ]
%}
{%
  set link = link|merge({
    '#options': {
      'attributes': {
        'class': [
          bem(block, 'link', modifiers),
        ]
      }
    }
  })
%}
<li{{ attributes.addClass(classes) }}>{{ link }}</li>
