{% set block = 'tabs' %}
{%
  set modifiers = [
    is_active ? 'active'
  ]
%}
{% set classes = [bem('item', modifiers, block)] %}
{%
  set link = link|merge({
    '#options': {
      'attributes': {
        'class': [
          bem('link', modifiers, block),
        ]
      }
    }
  })
%}
<li{{ attributes.addClass(classes) }}>{{ link }}</li>
