/**
 * Extra additional styles. You can remove them if don't need it.
 */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a.tabledrag-handle .handle {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
div:after,
header:after,
aside:after,
ul:after,
section:after,
article:after {
    content: '';
    display: block;
    clear: both;
    float: none;
}
h1,h2,h3,h4,h5,h6 {
    color: #626975;
    line-height: normal;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 10px 0;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}
/* Fix whitespace under image. */
img {
    vertical-align: bottom;
    max-width: 100%;
}
.toolbar-home:after {
    float: none;
    display: none;
}
#toolbar-home {
    float: left;
}
#toolbar ul:after {
    content: '.';
    float: none;
    display: none;
    clear: none;
}
div#toolbar a#edit-shortcuts {
    position: absolute;
    top: 0;
    right: 0;
}

