/**
 * Form elements.
 */
input {
    display: inline-block;
    vertical-align: baseline;
    outline: none;
}
input[type="submit"],
input[type="button"],
.button {
    background-color: rgba(255, 255, 255, 1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(210, 210, 210, 1) rgba(209, 209, 209, 1) rgba(209, 209, 209, 1);
    font-weight: bold;
    padding: 6px 10px;
    margin-right: 10px;
    border-radius: 3px;
    color: rgba(86, 86, 86, 1);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    font-size: 12px;
}
input[type="submit"]:hover,
input[type="button"]:hover {
    cursor: pointer;
}
input[type="submit"]:focus,
input[type="button"]:focus,
.button:focus {
    box-shadow: 0px 0px 1px 2px rgba(227, 227, 227, 0.75), 0px 1px 1px rgba(0, 0, 0, 0.14), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.21);
}
#edit-submit,
.button.submit {
    background-color: rgba(80, 162, 78, 1);
    border-color: rgba(55, 125, 41, 1) rgba(44, 135, 45, 1) rgba(30, 119, 31, 1);
    color: white;
}
#edit-submit:focus,
.button.submit:focus {
    box-shadow: 0px 0px 1px 2px rgba(121, 197, 93, 0.75), 0px 1px 1px rgba(21, 62, 0, 0.86), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.21);
}
#edit-preview {
    background-color: #4E69A2;
    border-color: #435A8B #3C5488 #334C83;
    color: white
}
#edit-preview:focus {
    box-shadow: 0px 0px 1px 2px rgba(88, 144, 255, 0.75), 0px 1px 1px rgba(0, 0, 0, 0.15), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.21);
}
#edit-delete {
    background-color: rgba(224, 61, 61, 1);
    border-color: rgba(192, 46, 46, 1) rgba(162, 45, 45, 1) rgba(134, 74, 74, 1);
    color: white;
}
#edit-delete:focus {
    box-shadow: 0px 0px 1px 2px rgba(255, 88, 88, 0.75), 0px 1px 1px rgba(0, 0, 0, 0.15), inset 0px 1px 2px 0px rgba(0, 0, 0, 0.21);
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #D3D6DB;
    color: #141823;
    background: #fefefe;
    padding: 7px;
    margin-bottom: 5px;
    transition: all 300ms;
    border-radius: 2px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.05) inset;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    background: #ffffff;
    color: #444444;
    outline: none;
    border: 1px solid #3996CF;
    transition: all 300ms;
}
input.error,
select.error {
    border: 1px solid red;
}
select {
    background: white;
    padding: 5px 8px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.05) inset;
    border: 1px solid #D1D1D1;
    outline: none;
    border-radius: 2px;
}
select:focus {
    border-color: #3996CF;
}
html.js input.form-autocomplete {
    background-position: 100% 8px;
    transition: none;
}
html.js input.throbbing {
    background-position: 100% -12px;
    transition: none;
}
label {
    margin-bottom: 5px;
}

/* Vertical tabs */
.vertical-tabs .vertical-tabs-list .vertical-tab-button {
    background: rgb(254,254,254);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY3ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(246,247,248,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(246,247,248,1)));
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(246,247,248,1) 100%);
    background: -o-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(246,247,248,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(246,247,248,1) 100%);
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(246,247,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f6f7f8',GradientType=0 );
}
.vertical-tabs .vertical-tabs-list * {
    text-decoration: none !important;
    outline: 0 !important;
}
.vertical-tabs .vertical-tabs-list .vertical-tab-button a {
    color: rgba(80, 74, 74, 1);
}
.vertical-tabs .vertical-tabs-list .vertical-tab-button.selected {
    background: white;
}
.vertical-tabs ul.vertical-tabs-list .selected strong {
    color: #5890FF;
}

/* Glisseo checkbox */
input[type="checkbox"].glisseo-checkbox {
    display: none;
}
.glisseo-checkbox-switcher {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    overflow: hidden;
    width: 76px;
    background: rgb(233,234,237);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZWFlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(233,234,237,1) 0%, rgba(244,244,246,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,234,237,1)), color-stop(100%,rgba(244,244,246,1)));
    background: -webkit-linear-gradient(top, rgba(233,234,237,1) 0%,rgba(244,244,246,1) 100%);
    background: -o-linear-gradient(top, rgba(233,234,237,1) 0%,rgba(244,244,246,1) 100%);
    background: -ms-linear-gradient(top, rgba(233,234,237,1) 0%,rgba(244,244,246,1) 100%);
    background: linear-gradient(to bottom, rgba(233,234,237,1) 0%,rgba(244,244,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9eaed', endColorstr='#f4f4f6',GradientType=0 );
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    line-height: 23px;
}
.glisseo-checkbox-switcher-container {
    width: 200px;
    position: relative;
    left: -38px;
    transition: all 0.17s ease 0s;
}
.glisseo-checkbox-switcher .left {
    width: 37px;
    height: 23px;
    float: left;
    color: #5890ff;
    text-shadow: 0px 1px 0 white;
}
.glisseo-checkbox-switcher .mid {
    width: 37px;
    height: 23px;
    float: left;
    background: rgb(254,254,254);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY3ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(246,247,248,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(246,247,248,1)));
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(246,247,248,1) 100%);
    background: -o-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(246,247,248,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(246,247,248,1) 100%);
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(246,247,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f6f7f8',GradientType=0 );
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #D0D0D0;
    border-radius: 3px;
}
.glisseo-checkbox-switcher .right {
    width: 37px;
    height: 23px;
    float: left;
    color: #555;
}
input[type="checkbox"].glisseo-checkbox:checked ~ .glisseo-checkbox-switcher .glisseo-checkbox-switcher-container {
    left: 1px;
    transition: all 0.17s ease 0s;
}
input[type="checkbox"].glisseo-checkbox:disabled ~ .glisseo-checkbox-switcher {
    opacity: .5;
}
.glisseo-checkbox-switcher ~ .description {
    margin-left: 80px;
}

/* Glisseo radio */
input[type="radio"].glisseo-radio {
    display: none;
}
.glisseo-radio-wrapper {
    position: relative;
    width: 17px;
    height: 17px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    border: 1px solid #D0D0D0;
    box-shadow: none;
    background: rgb(246,247,248);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjdmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(246,247,248,1) 0%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,247,248,1)), color-stop(100%,rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(246,247,248,1) 0%,rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(246,247,248,1) 0%,rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(246,247,248,1) 0%,rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(246,247,248,1) 0%,rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7f8', endColorstr='#fefefe',GradientType=0 );
    transition: all 0.17s ease 0s;
}
.glisseo-radio-wrapper:hover {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.11);
    transition: all 0.17s ease 0s;
}
.glisseo-radio-wrapper .glisseo-radio-mark {
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background: none repeat scroll 0% 0% rgba(72, 72, 72, 1);
    margin: 4px auto;
    opacity: 0;
    transition: all 0.17s ease 0s;
}
input[type="radio"].glisseo-radio:checked ~ .glisseo-radio-wrapper .glisseo-radio-mark {
    opacity: 1;
    transition: all 0.17s ease 0s;
}
input[type="radio"].glisseo-radio:disabled ~ .glisseo-radio-wrapper {
    opacity: .5
}