/**
 * Styles for system messages.
 */
div.messages {
    border-width: 1px;
    border-style: solid;
    position: relative;
    overflow: hidden;
    padding-left: 85px;
    background-color: transparent;
    background-position: 20px 50%;
}
div.messages:before {
    content: "";
    display: block;
    width: 70px;
    background: transparent;
    height: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
div.messages.error:before {
    background: #EF4836;
    border-color: #EF4836;
}
div.messages.error {
    background-color: rgba(239, 72, 54, 0.07);
}
div.messages.status:before {
    background: #2ECC71;
    border-color: #2ECC71;
}
div.messages.status {
    background-color: rgba(46, 204, 113, 0.07);
}
div.messages.warning:before {
    background: #F5AB35;
    border-color: #F5AB35;
}
div.messages.warning {
    background-color: rgba(245, 171, 53, 0.07);
}
