/**
 * @file
 * Main style file for template. You can edit it on your own.
 */

/**
 * Import our css files.
 * You can simply remove which not needed or add own imports. Drupal cache
 * parse them all and create one minified file.
 */
@import "reset.css";
@import "forms.css";
@import "table.css";
@import "tabs.css";
@import "pager.css";
@import "messages.css";
@import "additional.css";



