/**
 * @file
 * Main style file for template. You can edit it on your own.
 */

/**
 * Import our css files.
 * You can simply remove which not needed or add own imports. Drupal cache
 * parse them all and create one minified file.
 */
@import "reset.css";
@import "forms.css";
@import "table.css";
@import "tabs.css";
@import "pager.css";
@import "messages.css";
@import "additional.css";

/**
 * Some of needed px in em.
 * 12px - 0.750em
 * 13px - 0.813em
 * 14px - 0.875em
 * 15px - 0.938em
 * 16px - 1em
 * 18px - 1.125em
 * 20px - 1.250em
 * 22px - 1.375em
 */
body {
    font-size: 0.875em;
    line-height: 1.7;
    font-family: Arial, sans-serif;
    padding: 1em;
}
