/**
 * Button style generator.
 */
@mixin button-variant($color, $background, $border: transparent) {
  @extend .btn;
  $active-background: darken($background, 10%);
  $active-border: darken($border, 12%);

  color: $color;
  background-color: $background;
  background-image: none;
  border-color: $border;
  @if ($btn-enable-shadows) {
    box-shadow: $btn-box-shadow;
  }

  &:focus,
  &:hover {
    color: $color;
    background-color: $active-background;
    border-color: $active-border;
  }

  &:focus {
    @if ($btn-enable-shadows) {
      box-shadow: $btn-focus-box-shadow;
    }
  }

  &:disabled {
    background-color: $background;
    border-color: $border;
  }

  &:active {
    color: $color;
    background-color: $active-background;
    background-image: none;
    border-color: $active-border;
    @if ($btn-enable-shadows) {
      box-shadow: $btn-active-box-shadow;
    }
  }
}

/**
 * Outline button variant.
 */
@mixin button-outline-variant($color, $color-hover: #fff) {
  @extend .btn;
  color: $color;
  background-color: transparent;
  background-image: none;
  border-color: $color;
  box-shadow: none;

  &:hover,
  &:focus {
    color: $color-hover;
    background-color: $color;
    border-color: $color;
  }

  &:focus {
    @if ($btn-enable-shadows) {
      box-shadow: $btn-focus-box-shadow;
    }
  }

  &:disabled {
    color: $color;
    background-color: transparent;
  }
}
