/**
 * @file
 * Helper mixins for using with grids.
 */

/**
 * Backport of SUSY 2 span() mixin.
 */
@mixin span(
  $span,
  $config: $susy
) {
  width: span($span, $config);

  @if index($span, 'last') {
    float: right;
  } @else {
    float: left;
    margin-right: gutter();
  }
}

/**
 * Same as span, but using flexbox.
 */
@mixin span-flexbox(
  $span,
  $config: ()
) {
  flex: 1 1 span($span, $config);
  // split the gutter on each side of the element…
  padding: gutter($span, $config) / 2;
}

/**
 * Add grid for debugging grids.
 */
@mixin susy-svg-grid(
  $grid: $susy,
  $colors: $brand-main,
  $offset: null
) {
  background: susy-svg-grid($grid, $colors, $offset) no-repeat scroll;
}

/**
 * Backport of SUSY 2 gallery() mixin.
 */
@mixin gallery($size) {
  $columns: susy-get('columns');
  $column-sum: 0;
  @each $column in $columns {
    $column-sum: $column-sum + $column;
  }
  float: left;
  margin-right: gutter();
  width: span($column-sum / $size);

  &:nth-child(#{$size}n + #{$size}) {
    margin-right: 0;
  }
}

/**
 * Clearfix mixin.
 */
@mixin clearfix() {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
