/**
 * Tabs style.
 */
.primary-tabs {
  @include clearfix;
  background: $primary-tabs-bg;
  margin: $primary-tabs-margin;
  padding: $primary-tabs-padding;
  list-style: none;

  li {
    float: left;

    a {
      display: block;
      color: $primary-tabs-task-color;
      background: $primary-tabs-task-background;
      padding: $primary-tabs-tab-padding;

      &:hover {
        background: darken($primary-tabs-task-background, 5%);
      }

      &.is-active {
        color: $primary-tabs-task-active-color;
        background: $primary-tabs-task-active-background;
      }
    }
  }
}

// Vertical tabs.
.vertical-tabs {
  background: $vertical-tabs-bg;
  .vertical-tabs-list {
    background: $vertical-tabs-list-bg;
    border: $vertical-tabs-list-border;
    * {
      text-decoration: none !important;
      outline: 0 !important;
    }

    .vertical-tab-button {
      border: none;
      a {
        color: $vertical-tabs-button-color;
        border: none;
      }

      &.selected {
        background: $vertical-tabs-button-bg-selected;
        strong, .summary {
          color: $vertical-tabs-button-color-selected;
          text-shadow: $vertical-tabs-button-text-shadow;
        }
      }
    }
  }
}
