// =============================================================================
// Blockquotes.
// =============================================================================

$blockquote-font-size: $global-font-size !default;
$blockquote-border-size: 4px !default;
$blockquote-border-color: gray(400) !default;
$blockquote-paddings: gap() gap(2) !default;
$blockquote-margins: 0 0 gap(2) !default;
$blockquote-bg: transparent !default;

blockquote {
  @include font-size($blockquote-font-size);
  padding: $blockquote-paddings;
  margin: $blockquote-margins;
  border-left: $blockquote-border-size solid $blockquote-border-color;
  background: $blockquote-bg;
}
