// =============================================================================
// Headings.
// =============================================================================

:root {
  --heading-line-height: 1.2;
}

h1 {
  font-size: var(--text-xxl);
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}

h4 {
  font-size: var(--text-md);
}

h5 {
  font-size: var(--text-sm);
}

h6 {
  font-size: var(--text-xs);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--heading-line-height);
  margin: unset;
  margin-bottom: var(--spacing-sm);
}
