// =============================================================================
// Images.
// =============================================================================

img {
  max-width: 100%;
  // For ALT attribute.
  font-style: italic;
  // Fixes whitespace under images.
  vertical-align: middle;
}
