// =============================================================================
// Links.
// =============================================================================

:root {
  --link-color: var(--color-primary);
  --link-color-hover: var(--color-primary);
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
    text-decoration: none;
  }
}
