// =============================================================================
// Lists.
// =============================================================================

$list-margins: gap() 0 gap() gap(2) !default;
$list-paddings: 0 !default;

ol, ul {
  margin: $list-margins;
  padding: $list-paddings;
}
