// =============================================================================
// Additional reset after normalize.css.
// =============================================================================

// Focus
$focus-outline-width:  2px !default;
$focus-outline-style:  dashed !default;
$focus-outline-color:  rgba(theme-color('primary'), 0.3) !default;
$focus-outline-offset: 3px !default;

// Background and text colors for selected elements.
$selection-bg:    theme-color('primary') !default;
$selection-color: color-yiq($selection-bg) !default;

// Body
$body-bg: #ffffff !default;

* {
  box-sizing: border-box;
  // Workaround for flexboxes.
  min-width: 0;
}

// It's a good practice to leave focus on element. If you disable it make sure
// you have other visual implementation for focused elements!
// @see http://www.outlinenone.com/
:focus {
  outline: $focus-outline-width $focus-outline-style $focus-outline-color;
  outline-offset: $focus-outline-offset;
}

::selection {
  background: $selection-bg;
  color: $selection-color;
}

body {
  background: $body-bg;
}

// Fix whitespace under image.
img {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: bottom;
}
