:root {
  // Primary color.
  --color-primary-h: 208;
  --color-primary-s: 100%;
  --color-primary-l: 43%;
  --color-primary: hsl(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l));
  // You can mix new colors, e.g.:
  // --color-primary-dark: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) - 10%));
  // --color-primary-darken: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) - 20%));

  // Accent color.
  --color-accent-h: 210;
  --color-accent-s: 100%;
  --color-accent-l: 12%;
  --color-accent: hsl(var(--color-accent-h), var(--color-accent-s), var(--color-accent-l));

  --color-black: hsl(240, 7%, 12%);
  --color-white: hsl(0, 0%, 100%);

  // Success color.
  --color-success-h: 120;
  --color-success-s: 100%;
  --color-success-l: 50%;
  --color-success: hsl(var(--color-success-h), var(--color-success-s), var(--color-success-l));
  // Warning color.
  --color-warning-h: 28;
  --color-warning-s: 100%;
  --color-warning-l: 55%;
  --color-warning: hsl(var(--color-warning-h), var(--color-warning-s), var(--color-warning-l));
  // Error color.
  --color-error-h: 3;
  --color-error-s: 100%;
  --color-error-l: 61%;
  --color-error: hsl(var(--color-error-h), var(--color-error-s), var(--color-error-l));

  --color-contrast-lower: hsl(0, 0%, 95%);
  --color-contrast-low: hsl(240, 1%, 83%);
  --color-contrast-medium: hsl(240, 1%, 48%);
  --color-contrast-high: hsl(240, 4%, 20%);
  --color-contrast-higher: hsl(240, 8%, 12%);
}
