:root {
  --grid-gap: var(--spacing-sm);
  --grid-container-max-width: 100%;
  --grid-template-columns-12: repeat(12, [col] 1fr);
}

@media (--lg) {
  :root {
    --grid-container-max-width: 940px;
  }
}

@media (--xl) {
  :root {
    --grid-container-max-width: 1120px;
  }
}
