/**
 * @file
 * Custom variables and overrides of existing.
 */

$susy: (
  'columns': susy-repeat(12),
  'gutters': .25,
  'spread': 'narrow',
  'container-spread': 'narrow',
);

$theme-colors: ();
$colors: ();
