/**
 * @file
 * Define the breakpoints at which your layout will change, adapting to different screen sizes.
 */

// Minimum width for breakpoints.
$media-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Gutters for container.
$media-gutter-width: (
  xs: 30px,
  sm: 30px,
  md: 30px,
  lg: 30px,
  xl: 30px,
) !default;

// Maximum width for container.
// @see mixin media-containers-max-width()
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

