:root {
  // Base colors.
  --color-white: #ffffff;
  --color-white-01: hsla(0, 0%, 100%, 0.01);
  --color-white-02: hsla(0, 0%, 100%, 0.02);
  --color-white-03: hsla(0, 0%, 100%, 0.03);
  --color-white-04: hsla(0, 0%, 100%, 0.04);
  --color-white-05: hsla(0, 0%, 100%, 0.05);
  --color-white-06: hsla(0, 0%, 100%, 0.06);
  --color-white-07: hsla(0, 0%, 100%, 0.07);
  --color-white-08: hsla(0, 0%, 100%, 0.08);
  --color-white-09: hsla(0, 0%, 100%, 0.09);
  --color-white-10: hsla(0, 0%, 100%, 0.1);
  --color-white-20: hsla(0, 0%, 100%, 0.2);
  --color-white-30: hsla(0, 0%, 100%, 0.3);
  --color-white-40: hsla(0, 0%, 100%, 0.4);
  --color-white-50: hsla(0, 0%, 100%, 0.5);
  --color-white-60: hsla(0, 0%, 100%, 0.6);
  --color-white-70: hsla(0, 0%, 100%, 0.7);
  --color-white-80: hsla(0, 0%, 100%, 0.8);
  --color-white-90: hsla(0, 0%, 100%, 0.9);

  --color-black: #000000;
  --color-black-01: hsla(0, 0%, 0%, 0.01);
  --color-black-02: hsla(0, 0%, 0%, 0.02);
  --color-black-03: hsla(0, 0%, 0%, 0.03);
  --color-black-04: hsla(0, 0%, 0%, 0.04);
  --color-black-05: hsla(0, 0%, 0%, 0.05);
  --color-black-06: hsla(0, 0%, 0%, 0.06);
  --color-black-07: hsla(0, 0%, 0%, 0.07);
  --color-black-08: hsla(0, 0%, 0%, 0.08);
  --color-black-09: hsla(0, 0%, 0%, 0.09);
  --color-black-10: hsla(0, 0%, 0%, 0.1);
  --color-black-20: hsla(0, 0%, 0%, 0.2);
  --color-black-30: hsla(0, 0%, 0%, 0.3);
  --color-black-40: hsla(0, 0%, 0%, 0.4);
  --color-black-50: hsla(0, 0%, 0%, 0.5);
  --color-black-60: hsla(0, 0%, 0%, 0.6);
  --color-black-70: hsla(0, 0%, 0%, 0.7);
  --color-black-80: hsla(0, 0%, 0%, 0.8);
  --color-black-90: hsla(0, 0%, 0%, 0.9);

  --color-silver: #c0c0c0;
  --color-light-gray: #666666;
  --color-gray: #333333;
  --color-gray-10: hsla(0, 0%, 40%, 0.1);
  --color-gray-20: hsla(0, 0%, 40%, 0.2);
  --color-gray-30: hsla(0, 0%, 40%, 0.3);
  --color-gray-40: hsla(0, 0%, 40%, 0.4);
  --color-gray-50: hsla(0, 0%, 40%, 0.5);
  --color-gray-60: hsla(0, 0%, 40%, 0.6);
  --color-gray-70: hsla(0, 0%, 40%, 0.7);
  --color-gray-80: hsla(0, 0%, 40%, 0.8);
  --color-gray-90: hsla(0, 0%, 40%, 0.9);

  --color-blue: rgb(0, 73, 219);
  --color-blue-intense: rgb(0, 67, 170);
  --color-blue-10: rgba(0, 73, 219, 0.1);
  --color-blue-20: rgba(0, 73, 219, 0.2);
  --color-blue-30: rgba(0, 73, 219, 0.3);
  --color-blue-40: rgba(0, 73, 219, 0.4);
  --color-blue-50: rgba(0, 73, 219, 0.5);
  --color-blue-60: rgba(0, 73, 219, 0.6);
  --color-blue-70: rgba(0, 73, 219, 0.7);
  --color-blue-80: rgba(0, 73, 219, 0.8);
  --color-blue-90: rgba(0, 73, 219, 0.9);

  // Primary color.
  --color-primary: var(--color-blue);
  --color-primary-strong: var(--color-blue-intense);
}
