:root {
  // Base colors.
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-gray: #D8D9E0;
  --color-gray-blue: #8E929C;
  --color-old-silver: #82828C;
  --color-blue: #003CC5;
  --color-blue-hover: #0036B1;
  --color-blue-active: #00339A;
  --color-blue-focus: #B3C9F5;
  --color-red: #D72222;
  --color-red-hover: #FDF5F5;
  --color-red-active: #FCEDED;
  --color-green: #26A769;
  --color-yellow: #FFD23F;

  // @todo remove it. Make things actually more complex by default.
  --color-primary: var(--color-blue);

  // Utility colors.
  --color-border: var(--color-gray-blue);
  --color-disabled: #727780;
}
