/**
 * The HTML image styles.
 */
img {
  max-width: 100%;
  /* Fixes aspect ratio. */
  height: auto;
  /* For ALT attribute. */
  font-style: italic;
  /* Fixes whitespace under images. */
  vertical-align: middle;
}
