/**
 * Hyper text links.
 */
:root {
  --link-color: var(--color-persian-blue);
  --link-color--hover: var(--color-persian-blue--dark-1);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  --link-color: var(--link-color--hover);
  text-decoration: none;
}
