// =============================================================================
// Drupal breadcrumbs.
// =============================================================================

$breadcrumb-padding-vertical: gap() !default;
$breadcrumb-padding-horizontal: gap(2) !default;
$breadcrumb-margin-bottom: gap(2) !default;
$breadcrumb-bg: gray('100') !default;
$breadcrumb-delimiter-content: '/' !default;
$breadcrumb-delimiter-color: gray('500') !default;
$breadcrumb-link-color: $link-color !default;
$breadcrumb-font-size: $font-size-base !default;

.breadcrumbs {
  background: $breadcrumb-bg;
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  margin-bottom: $breadcrumb-margin-bottom;
  border-radius: $border-radius-base;
  font-size: $breadcrumb-font-size;
  display: flex;

  &__path {
    display: inline;

    @include media-breakpoint-down(sm) {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-grow: 0;
      flex-shrink: 1;
    }
  }

  &__item {
    &::after {
      margin: 0 4px;
      content: $breadcrumb-delimiter-content;
      color: $breadcrumb-delimiter-color;
    }

    &.is-link {
      color: $breadcrumb-link-color;
    }

    &.is-current {
      &::after {
        display: none;
      }

      @include media-breakpoint-down(sm) {
        &::before {
          margin: 0 4px;
          content: $breadcrumb-delimiter-content;
          color: $breadcrumb-delimiter-color;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }

  &__current {
    display: inline;

    @include media-breakpoint-down(sm) {
      display: block;
      flex-grow: 1;
      flex-shrink: 0;
    }
  }
}
