// =============================================================================
// Drupal breadcrumbs.
// =============================================================================

.breadcrumbs {
  font-size: var(--text-sm);
  display: flex;
  margin-bottom: var(--spacing-sm);

  &__path {
    display: block;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__item-link {
    color: var(--link-color);
  }

  &__item-link--text {
    color: var(--text-color);
  }

  &__item-link--current {
    &::before {
      margin: 0 4px;
      content: '/';
      color: var(--color-contrast-medium);
    }
  }

  &__current {
    display: block;
    flex-grow: 1;
    flex-shrink: 0;
  }

  &__delimiter {
    &::after {
      margin: 0 var(--spacing-unit);
      content: '/';
      color: var(--color-contrast-medium);
    }

    &:last-child {
      display: none;
    }
  }

  @include breakpoint(sm) {
    &__path {
      display: inline;
    }

    &__current {
      display: inline;
    }
  }
}
