// =============================================================================
// Button mixins and styles. Including Drupal buttons.
// =============================================================================

:root {
  --button-font-size: 1em;
  --button-line-height: var(--form-control-line-height, 1.5);
  --button-padding-y: 0.5em;
  --button-padding-x: 0.75em;
  --button-border-radius: var(--radius);
  --button-border: unset;
  --button-background-color: var(--color-gray-10);
  --button-color: inhirit;
}

.button {
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--button-padding-y);
  padding-right: var(--button-padding-x);
  padding-bottom: var(--button-padding-y);
  padding-left: var(--button-padding-x);
  white-space: nowrap;
  text-decoration: none;
  color: var(--button-color);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
}

.button:hover {
  color: var(--button-color);
  background-color: var(--button-background-color);
}

.button--primary {
  --button-background-color: var(--color-primary);
  --button-color: var(--color-white);
}

.button--accent {
  --button-background-color: var(--color-accent);
  --button-color: var(--text-color);
}

.button--danger {
  --button-background-color: var(--color-accent);
  --button-color: var(--color-white);
}
