// =============================================================================
// Button mixins and styles. Including Drupal buttons.
// =============================================================================

:root {
  --button-font-size: 1em;
  --button-padding-y: 0.5em;
  --button-padding-x: 0.75em;
  --button-border-radius: var(--radius);
}

.button {
  font-size: var(--button-font-size);
  line-height: 1;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--button-padding-y);
  padding-right: var(--button-padding-x);
  padding-bottom: var(--button-padding-y);
  padding-left: var(--button-padding-x);
  white-space: nowrap;
  text-decoration: none;
  border-radius: var(--button-border-radius);
  border: unset;
}

.button--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.button--secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.button--danger {
  background-color: var(--color-error);
  color: var(--color-white);
}
