// =============================================================================
// Form and Drupal Form API elements.
// =============================================================================

:root {
  --form-control-font-size: 1em;
  --form-control-padding-y: 0.5em;
  --form-control-padding-x: 0.75em;
  --form-control-border-radius: var(--radius);
  --form-control-radius: var(--radius);
  --form-control-focus-shadow-color: hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.2);
}

// =============================================================================
// The .form-item styles.
// =============================================================================
.form-item {
  margin: 0 0 var(--spacing-sm);
}

.form-item__description {
  font-size: var(--text-sm);
  display: block;
  margin-top: var(--spacing-unit);
  margin-bottom: var(--spacing-unit);
  color: var(--color-contrast-medium);
}

.form-item__label {
  font-size: var(--text-sm);
  display: inline-block;
  margin-bottom: var(--spacing-unit);
}

.form-item__label--required {
  &::after {
    display: inline-block;
    margin: 0 0 0 0.25em;
    content: '*';
    color: var(--color-error);
  }
}

.form-item__label.option {
  margin-bottom: 0;
}

.form-item--radio {
  margin-bottom: 0;
}

// =============================================================================
// The .filter-wrapper styles.
// =============================================================================
.filter-wrapper {
  margin-top: calc(var(--spacing-sm) * -1);
}

// =============================================================================
// The .form-wrapper styles.
// =============================================================================
.form-wrapper { }

.form-wrapper__summary {
  padding: var(--spacing-unit);
  cursor: pointer;
  background: gray(100);
}

.form-wrapper__content {
  padding: var(--spacing-unit);
}

// =============================================================================
// The .form-control styles.
// =============================================================================
.form-control {
  font-size: var(--form-control-font-size);
  line-height: inherit;
  display: block;
  width: 100%;
  max-width: 100%;
  padding-top: var(--form-control-padding-y);
  padding-right: var(--form-control-padding-x);
  padding-bottom: var(--form-control-padding-y);
  padding-left: var(--form-control-padding-x);
  border: 2px solid var(--color-contrast-low);
  border-radius: var(--form-control-border-radius);
  background-color: var(--color-white);

  &:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px var(--form-control-focus-shadow-color);
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.form-control.error {
  --form-control-focus-shadow-color: hsla(var(--color-error-h), var(--color-error-s), var(--color-error-l), 0.2);
  border-color: var(--color-error);

  &:focus {
    border-color: var(--color-error);
  }
}
