// =============================================================================
// Form and Drupal Form API elements.
// =============================================================================
$input-padding-y: gap() !default;
$input-padding-x: gap(2) !default;
$input-line-height: 1.5 !default;
$input-border-width: 1px !default;
$input-bg: #ffffff !default;
$input-border: rgba(34, 36, 38, 0.15) !default;
$input-border-focus: theme-color(primary);
$input-enable-shadows: false !default;
$input-box-shadow: 0 0 0 0 transparent !default;
$input-focus-box-shadow: 0 0 0 3px rgba(theme-color(primary), 0.5) !default;
$input-border-radius: $border-radius-small !default;
$input-color: $text-color !default;
$input-bg-disabled: rgb(250, 250, 250) !default;
$input-color-disabled: rgba(163, 163, 163, 1) !default;

$label-required-enabled: true !default;
$label-required-content: '*' !default;
$label-required-color: theme-color(error) !default;
$label-required-margin: 0 0 0 4px !default;

.form-item {
  margin: 0 0 gap(2);

  &__description {
    display: block;
    margin-top: gap();
    margin-bottom: gap();
    color: $text-color-subtle;
    font-size: 85%;
  }

  &__label {
    &.option {
      margin-bottom: 0;
    }

    @if ($label-required-enabled) {
      &--required {
        &::after {
          content: $label-required-content;
          display: inline-block;
          color: $label-required-color;
          margin: $label-required-margin;
        }
      }
    }
  }

  &--radio {
    margin-bottom: 0;
  }
}

.form-actions {
  input {
    margin: 0 gap() 0 0;
    width: auto;

    &:last-child {
      margin: 0;
    }
  }
}

.filter-wrapper {
  margin-top: gap(-2);
}

.form-wrapper {
  &__summary {
    background: gray(100);
    padding: gap();
    cursor: pointer;
  }

  &__content {
    padding: gap();
  }
}

.form-control {
  display: block;
  max-width: 100%;
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  font: inherit;
  background-color: $input-bg;
  border-width: 1px;
  border-style: solid;
  border-color: $input-border;
  border-radius: $input-border-radius;
  box-sizing: border-box;
  transition: all .15s ease-in-out;
  line-height: $input-line-height;

  @if ($input-enable-shadows) {
    box-shadow: $input-box-shadow;
  }

  &.error {
    border-color: theme-color(error);
  }

  &:focus {
    outline: medium none;
    border-color: $input-border-focus;

    @if ($input-enable-shadows) {
      box-shadow: $input-focus-box-shadow;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background: $input-bg-disabled;
    font-size: 100%;
    color: $input-color-disabled;
    text-shadow: none;
  }
}
