// =============================================================================
// Form and Drupal Form API elements.
// =============================================================================

:root {
  --form-control-font-size: 1em;
  --form-control-padding-y: 0.5em;
  --form-control-padding-x: 0.75em;
  --form-control-border-radius: var(--radius);
  --form-control-radius: var(--radius);
}

.form-item {
  margin: 0 0 var(--spacing-sm);

  &__description {
    display: block;
    margin-top: var(--spacing-unit);
    margin-bottom: var(--spacing-unit);
    color: var(--color-contrast-medium);
    font-size: var(--text-sm);
  }

  &__label {
    display: inline-block;
    margin-bottom: var(--spacing-unit);
    font-size: var(--text-sm);

    &.option {
      margin-bottom: 0;
    }
  }

  &__label--required {
    &::after {
      content: '*';
      display: inline-block;
      color: var(--color-error);
      margin: 0 0 0 0.25em;
    }
  }

  &--radio {
    margin-bottom: 0;
  }
}

.filter-wrapper {
  margin-top: calc(var(--spacing-sm) * -1);
}

.form-wrapper {
  &__summary {
    background: gray(100);
    padding: var(--spacing-unit);
    cursor: pointer;
  }

  &__content {
    padding: var(--spacing-unit);
  }
}

.form-control {
  font-size: var(--form-control-font-size);
  line-height: inherit;
  display: block;
  max-width: 100%;
  width: 100%;
  padding-top: var(--form-control-padding-y);
  padding-right: var(--form-control-padding-x);
  padding-bottom: var(--form-control-padding-y);
  padding-left: var(--form-control-padding-x);
  background-color: var(--color-white);
  border: 2px solid var(--color-contrast-low);
  border-radius: var(--form-control-border-radius);

  &.error {
    border-color: var(--color-error);

    &:focus {
      border-color: var(--color-error);
    }
  }

  &:focus {
    outline: none;
    border-color: var(--color-primary);
  }

  &:disabled {
    cursor: not-allowed;
  }
}
