// =============================================================================
// Drupal local actions.
// =============================================================================

.local-actions {
  padding: 0;
  margin: 0 0 var(--spacing-sm);
  list-style: none;
  display: flex;
}

.local-actions__item {
  &:not(:last-child) {
    margin-right: var(--spacing-unit);
  }
}
