// =============================================================================
// Drupal messenger messages.
// =============================================================================

:root {
  --message-background: transparent;
  --message-border-color: var(--color-contrast-medium);
  --message-color: var(--text-color);
}

.messages {
  position: relative;
  margin-bottom: var(--spacing-sm);
  padding: var(--spacing-sm);
  border-radius: var(--radius);
  border: 2px solid var(--message-border-color);
  background: var(--message-background);
  color: var(--message-color);
}

.messages--error {
  --message-background: hsl(var(--color-error-h), var(--color-error-s), 77%);
  --message-border-color: var(--color-error);
}

.messages--status {
  --message-background: hsl(var(--color-success-h), var(--color-success-s), 77%);
  --message-border-color: var(--color-success);
}

.messages--warning {
  --message-background: hsl(var(--color-warning-h), var(--color-warning-s), 77%);
  --message-border-color: var(--color-warning);
}
