// =============================================================================
// Drupal messenger messages.
// =============================================================================

$message-padding-y: 1rem !default;
$message-padding-x: 1rem !default;
$message-border-width: 1px !default;
$message-border-radius: $border-radius-small !default;
$message-margin: 0 0 1rem !default;

$message-default-bg: #fafafa !default;
$message-default-border: #eeeeee !default;
$message-default-color: #5d5d5d !default;

$message-error-bg: #fff6f6 !default;
$message-error-border: #e0b4b4 !default;
$message-error-color: #9f3a38 !default;

$message-status-bg: #fcfff5 !default;
$message-status-border: #a3c293 !default;
$message-status-color: #2c662d !default;

$message-warning-bg: #fffaf3 !default;
$message-warning-border: #c9ba9b !default;
$message-warning-color: #573a08 !default;

@mixin message-variant($background, $border, $color) {
  color: $color;
  background-color: $background;
  border-color: $border;

  hr {
    border-top-color: darken($border, 5%);
  }

  a {
    color: darken($color, 10%);
  }
}

.messages {
  position: relative;
  margin: $message-margin;
  padding: $message-padding-y $message-padding-x;
  border-radius: $message-border-radius;
  border: $message-border-width solid transparent;
  @include message-variant($message-default-bg, $message-default-border, $message-default-color);

  &--error {
    @include message-variant($message-error-bg, $message-error-border, $message-error-color);
  }

  &--status {
    @include message-variant($message-status-bg, $message-status-border, $message-status-color);
  }

  &--warning {
    @include message-variant($message-warning-bg, $message-warning-border, $message-warning-color);
  }
}
