// =============================================================================
// Drupal hook theme pager.
//
// Improve styles and template if this issue will be resolved:
// https://www.drupal.org/project/drupal/issues/3067584
// =============================================================================

.pager {}

.pager__items {
  display: flex;
  justify-content: center;
  margin: unset;
  padding: unset;
  list-style: none outside none;
}

.pager__item {
  margin: 0 var(--spacing-xs);
}

// Show only next and prev for low-res displays.
.pager__item:not(.pager__item--previous):not(.pager__item--next) {
  display: none;

  @media (--md) {
    display: block;
  }
}

.pager__item a {
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-unit) var(--spacing-sm);
  border-radius: var(--radius);

  &:hover {
    background-color: var(--color-gray-10);
  }
}

.pager__item--active a {
  color: var(--color-white);
  background-color: var(--color-primary);

  // @todo improve it somehow.
  &:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
  }
}

.pager__item--ellipsis {
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-unit) var(--spacing-sm);
  border-radius: var(--radius);
}

// views-mini-pager.html.twig
.pager--mini .pager__item--active {
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-unit) var(--spacing-sm);
  border-radius: var(--radius);
}
