// =============================================================================
// Drupal hook theme pager.
//
// Improve styles and template if this issue will be resolved:
// https://www.drupal.org/project/drupal/issues/3067584
// =============================================================================

.pager {
}

.pager__items {
  @include list-unstyled;
  display: flex;
  justify-content: center;
  list-style: none outside none;
}

.pager__item {
  margin: 0 var(--spacing-xs);
}

// Show only next and prev for low-res displays.
.pager__item:not(.pager__item--previous):not(.pager__item--next){
  display: none;

  @include breakpoint(md) {
    display: block;
  }
}

.pager__item a {
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-unit) var(--spacing-sm);
  border-radius: var(--radius);

  &:hover {
    background-color: var(--color-contrast-lower);
  }
}

.pager__item--active a {
  background-color: var(--color-primary);
  color: var(--color-white);

  // @todo improve it somehow.
  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}

.pager__item--ellipsis {
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-unit) var(--spacing-sm);
  border-radius: var(--radius);
}
