// =============================================================================
// Drupal tabs.
// =============================================================================

// Vertical tabs.
$vertical-tabs-bg: white !default;
$vertical-tabs-list-bg: #fbfaf8 !default;
$vertical-tabs-button-color: #555459 !default;
$vertical-tabs-button-color-selected: white !default;
$vertical-tabs-button-bg-selected: #439fe0 !default;
$vertical-tabs-button-text-shadow: 0 1px 0 rgba(0, 0, 0, .1) !default;
$vertical-tabs-list-border: 1px solid #dddddd !default;

// Primary tabs.
$primary-tabs-margin: 0 0 gap(3) !default;
$primary-tabs-item-link-padding: 0 10px 10px 10px !default;
$primary-tabs-item-link-color: $text-color !default;
$primary-tabs-item-link-hover-color: $text-color-subtle !default;
$primary-tabs-item-active-link-color: $link-color !default;
$primary-tabs-item-active-link-hover-color: $link-hover-color !default;

// Secondary tabs.
$secondary-tabs-margin: 0 0 gap(3) !default;
$secondary-tabs-item-link-padding: 0 10px 10px 10px !default;
$secondary-tabs-item-link-color: $text-color !default;
$secondary-tabs-item-link-hover-color: $text-color-subtle !default;
$secondary-tabs-item-link-border-color: gray('300') !default;
$secondary-tabs-item-active-link-color: $link-color !default;
$secondary-tabs-item-active-link-hover-color: $link-hover-color !default;
$secondary-tabs-item-active-border-color: $link-color !default;

.tabs {
  padding: 0;
  list-style: none;
  display: flex;

  &--primary {
    margin: $primary-tabs-margin;

    .tabs__menu-item {
      position: relative;
    }

    .tabs__menu-item-link {
      display: block;
      padding: $primary-tabs-item-link-padding;
      color: $primary-tabs-item-link-color;

      &:hover {
        color: $primary-tabs-item-link-hover-color;
      }

      &.is-active {
        color: $primary-tabs-item-active-link-color;
        font-weight: bold;

        &::before {
          content: '';
          width: 70%;
          height: 4px;
          background: $primary-tabs-item-active-link-color;
          position: absolute;
          bottom: 0;
          left: 15%;
        }

        &:hover {
          color: $primary-tabs-item-active-link-hover-color;
        }
      }
    }
  }

  &--secondary {
    margin: $secondary-tabs-margin;

    .tabs__menu-item {
      position: relative;
    }

    .tabs__menu-item-link {
      display: block;
      padding: $secondary-tabs-item-link-padding;
      border-bottom: 1px solid $secondary-tabs-item-link-border-color;
      color: $secondary-tabs-item-link-color;

      &:hover {
        color: $secondary-tabs-item-link-hover-color;
        border-bottom-color: $link-color;
      }

      &.is-active {
        border-bottom-width: 2px;
        border-bottom-color: $secondary-tabs-item-active-border-color;
        color: $secondary-tabs-item-active-link-color;
        font-weight: bold;

        &:hover {
          color: $secondary-tabs-item-active-link-hover-color;
        }
      }
    }
  }
}

// Vertical tabs.
.vertical-tabs {
  background: $vertical-tabs-bg;

  .vertical-tabs__menu {
    background: $vertical-tabs-list-bg;
    border: $vertical-tabs-list-border;

    .vertical-tabs__menu-item {
      border: none;

      a {
        color: $vertical-tabs-button-color;
        border: none;
      }

      &.selected {
        background: $vertical-tabs-button-bg-selected;

        strong, .summary {
          color: $vertical-tabs-button-color-selected;
          text-shadow: $vertical-tabs-button-text-shadow;
        }
      }
    }
  }

  .vertical-tabs__panes {
    padding: 1rem;
  }
}
