// =============================================================================
// Drupal tabs.
// =============================================================================

.tabs {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  margin: unset;
  padding: unset;
  list-style: none;
}

// Primary tabs.
.tabs--primary {
  margin-bottom: var(--spacing-sm);
  padding: 0 var(--spacing-md);
  border-bottom: 2px solid var(--color-contrast-low);
}

.tabs--primary .tabs__link {
  position: relative;
  display: block;
  padding: var(--spacing-unit) var(--spacing-sm);
  color: var(--color-primary);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);

  &:hover {
    background-color: var(--color-contrast-lower);
  }
}

.tabs--primary .tabs__link--active {
  position: relative;
  border: 2px solid var(--color-contrast-low);
  border-bottom-width: 0;

  &::before {
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background-color: white;
  }

  &:hover {
    background-color: unset;
  }
}

// Secondary tabs.
.tabs--secondary {
  margin-bottom: var(--spacing-sm);
  padding: 0 var(--spacing-md);
  border-bottom: 1px solid var(--color-contrast-low);
}

.tabs--secondary .tabs__link {
  display: block;
  padding: var(--spacing-unit) var(--spacing-sm);
  position: relative;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 2px;
    content: '';
    background-color: var(--color-primary);
    border-top-left-radius: var(--radius-sm);
    border-top-right-radius: var(--radius-sm);
  }

  &:hover {
    &::before {
      display: block;
    }
  }
}

.tabs--secondary .tabs__link--active {
  position: relative;

  &::before {
    display: block;
  }
}
