// =============================================================================
// Views mini pager.
// =============================================================================

.views-mini-pager {
  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  &__item--label {
    padding: gap();
    color: gray(600);
  }

  &__item-link {
    padding: gap();
    display: block;
  }
}
