// =============================================================================
// Global variables.
// =============================================================================

// The main multiplier for all sizes.
// Your "Rule of X". The common values: 4px (Google), 6px (inuitcss), 8px.
// @see https://medium.com/wayfair-design/more-padding-please-b95e19422acc
$global-baseline: 8px !default;

// Baseline factors.
$unit-factors: () !default;
$unit-factors: map-merge((
  base: 1,
  line-height: 4,
  grid-gap: 4,
  container-gutter: 4,
), $unit-factors);

// Spacing sizes based on baseline and unit factor.
$spacing-units: () !default;
$spacing-units: map-merge((
  base: $global-baseline * unit-factor(base),
  line-height: $global-baseline * unit-factor(line-height),
  grid-gap: $global-baseline * unit-factor(grid-gap),
  container-gutter: $global-baseline * unit-factor(container-gutter),
), $spacing-units);

// Font sizes.
$global-font-size: 16px !default;
$global-line-height: spacing-unit(line-height) !default;

// Font
$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-serif: Georgia, 'Times New Roman', Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace !default;
$font-family: $font-family-sans-serif !default;

// Text
$global-text-color: #222330 !default;

// Border radius.
$border-radius-small: 3px !default;
$border-radius-base: 4px !default;
$border-radius-large: 6px !default;
