// =============================================================================
// Global variables.
// =============================================================================
@import "../tools/functions/math";
@import "../tools/functions/unit-factor";
@import "../tools/functions/spacing-unit";

// The main multiplier for all sizes.
// @see https://medium.com/wayfair-design/more-padding-please-b95e19422acc
$global-baseline: 8px !default;

// Baseline factors.
$unit-factors: () !default;
$unit-factors: map-merge((
  tiny: 1,
  small: 2,
  normal: 4,
  large: 8,
  huge: 16,
), $unit-factors);

// Spacing sizes based on baseline and unit factor.
$spacing-units: () !default;
$spacing-units: map-merge((
  tiny: $global-baseline * unit-factor(tiny),
  small: $global-baseline * unit-factor(small),
  normal: $global-baseline * unit-factor(),
  large: $global-baseline * unit-factor(large),
  huge: $global-baseline * unit-factor(huge),
), $spacing-units);

// Typography
// Font sizes.
$global-font-size: 16px !default;
$global-line-height: spacing-unit() !default;

// Base colors.
$white: #ffffff !default;
$gray-50: #fafafa !default;
$gray-100: #f5f5f5 !default;
$gray-200: #eeeeee !default;
$gray-300: #e0e0e0 !default;
$gray-400: #bdbdbd !default;
$gray-500: #9e9e9e !default;
$gray-600: #757575 !default;
$gray-700: #616161 !default;
$gray-800: #424242 !default;
$gray-900: #212121 !default;
$black: #000000 !default;

$grays: () !default;
$grays: map-merge((
  50: $gray-50,
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
), $grays);

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$colors: () !default;
$colors: map-merge((
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
), $colors);

// Colors used in theme. Such as text colors, buttons, links and so on.
// Here is main colors of the theme. If you want to add custom color just for
// special usage, use $colors instead.
$theme-colors: () !default;
$theme-colors: map-merge((
  primary: $blue,
  secondary: $gray-600,
  success: #4caf50,
  info: #29b6f6,
  warning: #ff9800,
  error: #f44336,
), $theme-colors);

$theme-color-interval: 8% !default;

$yiq-text-dark: $gray-900 !default;
$yiq-text-light: $white !default;

// @see gap() function for more information.
$gap-size: 8px;

// Font
$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-serif: Georgia, 'Times New Roman', Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace !default;
$font-family: $font-family-sans-serif !default;

// Text
$text-color: #333333 !default;
$text-color-subtle: gray(500) !default;
$text-color-highlight: gray(600) !default;
$text-color-info: theme-color(info) !default;
$text-color-success: theme-color(success) !default;
$text-color-warning: theme-color(warning) !default;
$text-color-error: theme-color(error) !default;

// Border radius.
$border-radius-small: 3px !default;
$border-radius-base: 4px !default;
$border-radius-large: 6px !default;

$paragraph-margins: 0 0 gap(2) !default;

// Headings default settings.
$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

// Links
$link-color: map-get($theme-colors, primary) !default;
$link-decoration: none !default;
$link-hover-color: theme-color-level('primary', 4) !default;
$link-hover-decoration: none !default;

// <mark> tag.
$mark-bg: #fff9c4 !default;
$mark-padding: .2em !default;
$mark-color: inherit !default;

// Blockqoutes.
$blockquote-font-size: 110% !default;
$blockquote-border-size: 4px !default;
$blockquote-border-color: gray(400) !default;
$blockquote-paddings: gap() gap(2) !default;
$blockquote-margins: 0 0 gap(2) !default;
$blockquote-bg: transparent !default;

// <hr> tag.
$hr-border-color: gray(500) !default;
$hr-margin-top: gap(2) !default;
$hr-margin-bottom: gap(2) !default;

// <ol> <ul> tags.
$list-margins: gap() 0 gap() gap(2) !default;
$list-paddings: 0 !default;

// =====================================
// Media breakpoints.
// =====================================

// Minimum width for breakpoints.
$media-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Maximum width for container.
// @see mixin media-containers-max-width()
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// Gutters for container.
$grid-gutter-width: 32px !default;
