{#
/**
 * @file
 * Theme override to display a region.
 *
 * @see template_preprocess_region()
 */
#}
{% set attributes = attributes.setAttribute('id', 'footer') %}
{% set attributes = attributes.addClass('region') %}
{% set attributes = attributes.addClass('region--footer') %}
{% if content %}
  <footer {{ attributes }}>
    <div class="region__container">
      {{ content }}
    </div>
  </footer>
{% endif %}