{%
  set bem_block = 'region-' ~ region|clean_class
%}
{%
  set classes = [
    bem_block,
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endif %}
