{#
/**
 * @file
 * Theme override to display a region.
 *
 * @see template_preprocess_region()
 */
#}
{% set attributes = attributes.setAttribute('id', 'navigation') %}
{% set attributes = attributes.addClass('region--navigation') %}
{% if content %}
  <section{{ attributes }}>
    <div class="container">
      {{ content }}
    </div>
  </section>
{% endif %}