{% extends 'region.html.twig' %}

{% block region %}
  {% set classes = bem(block, modifiers) %}
  <section{{ attributes.addClass(classes) }}>
    <div class="{{ bem('content', [], block) }}">
      {{ block('content') }}
    </div>
  </section>
{% endblock %}
