{% set bem_block = 'region' %}
{% set bem_modifiers = [region] %}
{% if content %}
  {% block region %}
    <div{{ attributes.addClass(bem(bem_block, bem_modifiers)) }}>
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  {% endblock %}
{% endif %}
