{%
  set bem_block = 'region-' ~ region|clean_class
%}
{%
  set classes = [
    bem_block,
  ]
%}
{% if content %}
  {% block region %}
    <div{{ attributes.addClass(classes) }}>
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  {% endblock %}
{% endif %}
