{%
  set bem_block = 'region-' ~ region|clean_class
%}
{%
  set classes = [
    bem_block,
  ]
%}
{% if content %}
  <footer{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="{{ bem_block }}__container">
        {{ content }}
      </div>
    {% endblock %}
  </footer>
{% endif %}
