{#
/**
 * @file
 * Theme override to display a region.
 *
 * @see template_preprocess_region()
 */
#}
{% set attributes = attributes.setAttribute('id', region|clean_class) %}
{% set attributes = attributes.addClass('region') %}
{% set attributes = attributes.addClass('region--' ~ region|clean_class) %}
{% if content %}
  {% block content %}
    <div{{ attributes.addClass(classes) }}>
      {{ content }}
    </div>
  {% endblock %}
{% endif %}
