{% extends 'region.html.twig' %}

{% block region %}
  {% set classes = bem(block, modifiers) %}
  <footer{{ attributes.addClass(classes) }}>
    <div class="{{ bem('content', [], block) }}">
      {{ block('content') }}
    </div>
  </footer>
{% endblock %}
