{% set block = 'region' %}
{%
  set modifiers = [
    region,
  ]
%}
{%
  set classes = [
    bem(block, modifiers),
  ]
%}
{% if content %}
  {% block region %}
    <div{{ attributes.addClass(classes) }}>
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  {% endblock %}
{% endif %}
