{% set bem_block = 'region'|clean_class %}
{% set classes = [
  bem_block,
  bem_block ~ '--' ~ region|clean_class
] %}
{% if content %}
  {% block region %}
    <div{{ attributes.addClass(classes) }}>
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  {% endblock %}
{% endif %}
