/**
 * @file
 * Define the breakpoints at which your layout will change, adapting to different screen sizes.
 */

$site-width: 1200px !default;
// Media sizes.
$xs-media: max-width 767px;
$sm-media: 768px 1023px;
$md-media: min-width 1024px;
$lg-media: min-width 1200px;
