// This class added by includes/structure.inc preprocess page hook. Don't forget
// to rename STARTER to your theme name to make it works. Or just remove.
.main-layout {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
}
