{% set block = block ?? 'layout' %}
{%
  set modifiers = [
    layout.id,
  ]
%}
{%
  set classes = [
    bem(block, null, modifiers),
  ]
%}
{%
  set region_classes = [
    bem(block, 'region', ['content']),
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ region_attributes.content.addClass(region_classes) }}>
      {{ content.content }}
    </div>
  </div>
{% endif %}
