{% set bem_block = 'layout-' ~ layout.id|clean_class %}
{% set classes = [
  'layout',
  bem_block,
] %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% set region_classes = [
      'region',
      bem_block ~ '__content'|clean_class,
    ] %}
    <div {{ region_attributes.content.addClass(region_classes) }}>
      {{ content.content }}
    </div>
  </div>
{% endif %}
