{% set block = 'layout' %}
{% set classes = [bem(block, [layout.id])] %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% set region_classes = [bem('region', ['content'], block)] %}
    <div {{ region_attributes.content.addClass(region_classes) }}>
      {{ content.content }}
    </div>
  </div>
{% endif %}
