{% set bem_block = 'layout' %}
{% set classes = [
  bem_block,
  bem_block ~ '--' ~ layout.id|clean_class,
] %}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% set region_classes = [
      bem_block ~ '__region',
      bem_block ~ '__region--content'|clean_class,
    ] %}
    <div {{ region_attributes.content.addClass(region_classes) }}>
      {{ content.content }}
    </div>
  </div>
{% endif %}
