{% set block = 'layout' %}
{%
  set classes = [
    bem(block, [layout.id]),
  ]
%}
{%
  set region_classes = [
    bem('region', [region], block),
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% for region in layout.getRegionNames %}
      {% if content[region] %}
        <div{{ region_attributes[region].addClass(region_classes) }}>
          {{ content[region] }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
