/**
 * @file
 * Grid stylesheet.
 * all - for all except defined.
 * sm - small (mobiles)
 * md - medium (tablets)
 * lg - large (old pc's, notebooks)
 * xl - pc
 */

/**
 * Grid group.
 */
.gl.grid {
    letter-spacing: -0.3em;
    text-rendering: optimizespeed;
}

.gl.grid.debug .col {
    background: rgb(234, 234, 234);
    min-height: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

/**
 * Define grid system.
 * Available scales:
 * - 2;
 * - 3;
 * - 4;
 * - 5;
 * - 6;
 * - 8;
 * - 12;
 * - 24;
 */
.gl.col.all-1,
.gl.col.all-1-1,
.gl.col.all-1-2,
.gl.col.all-1-3,
.gl.col.all-2-3,
.gl.col.all-1-4,
.gl.col.all-3-4,
.gl.col.all-1-5,
.gl.col.all-2-5,
.gl.col.all-3-5,
.gl.col.all-4-5,
.gl.col.all-5-5,
.gl.col.all-1-6,
.gl.col.all-5-6,
.gl.col.all-1-8,
.gl.col.all-3-8,
.gl.col.all-5-8,
.gl.col.all-7-8,
.gl.col.all-1-12,
.gl.col.all-5-12,
.gl.col.all-7-12,
.gl.col.all-11-12,
.gl.col.all-1-24,
.gl.col.all-2-24,
.gl.col.all-3-24,
.gl.col.all-4-24,
.gl.col.all-5-24,
.gl.col.all-6-24,
.gl.col.all-7-24,
.gl.col.all-8-24,
.gl.col.all-9-24,
.gl.col.all-10-24,
.gl.col.all-11-24,
.gl.col.all-12-24,
.gl.col.all-13-24,
.gl.col.all-14-24,
.gl.col.all-15-24,
.gl.col.all-16-24,
.gl.col.all-17-24,
.gl.col.all-18-24,
.gl.col.all-19-24,
.gl.col.all-20-24,
.gl.col.all-21-24,
.gl.col.all-22-24,
.gl.col.all-23-24,
.gl.col.all-24-24 {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
}

.gl.col.all-1-24 {
    width: 4.1667%;
}

.gl.col.all-1-12,
.gl.col.all-2-24 {
    width: 8.3333%;
}

.gl.col.all-1-8,
.gl.col.all-3-24 {
    width: 12.5%;
}

.gl.col.all-1-6,
.gl.col.all-4-24 {
    width: 16.6667%;
}

.gl.col.all-1-5 {
    width: 20%;
}

.gl.col.all-5-24 {
    width: 20.8333%;
}

.gl.col.all-1-4,
.gl.col.all-6-24 {
    width: 25%;
}

.gl.col.all-7-24 {
    width: 29.1667%;
}

.gl.col.all-1-3,
.gl.col.all-8-24 {
    width: 33.3333%;
}

.gl.col.all-3-8,
.gl.col.all-9-24 {
    width: 37.5%;
}

.gl.col.all-2-5 {
    width: 40%;
}

.gl.col.all-5-12,
.gl.col.all-10-24 {
    width: 41.6667%;
}

.gl.col.all-11-24 {
    width: 45.8333%;
}

.gl.col.all-1-2,
.gl.col.all-12-24 {
    width: 50%;
}

.gl.col.all-13-24 {
    width: 54.1667%;
}

.gl.col.all-7-12,
.gl.col.all-14-24 {
    width: 58.3333%;
}

.gl.col.all-3-5 {
    width: 60%;
}

.gl.col.all-5-8,
.gl.col.all-15-24 {
    width: 62.5%;
}

.gl.col.all-2-3,
.gl.col.all-16-24 {
    width: 66.6667%;
}

.gl.col.all-17-24 {
    width: 70.8333%;
}

.gl.col.all-3-4,
.gl.col.all-18-24 {
    width: 75%;
}

.gl.col.all-19-24 {
    width: 79.1667%;
}

.gl.col.all-4-5 {
    width: 80%;
}

.gl.col.all-5-6,
.gl.col.all-20-24 {
    width: 83.3333%;
}

.gl.col.all-7-8,
.gl.col.all-21-24 {
    width: 87.5%;
}

.gl.col.all-11-12,
.gl.col.all-22-24 {
    width: 91.6667%;
}

.gl.col.all-23-24 {
    width: 95.8333%;
}

.gl.col.all-1,
.gl.col.all-1-1,
.gl.col.all-5-5,
.gl.col.all-24-24 {
    width: 100%
}
