// Vertical tabs.
$vertical-tabs-bg:                    white;
$vertical-tabs-list-bg:               #fbfaf8;
$vertical-tabs-button-color:          #555459;
$vertical-tabs-button-color-selected: white;
$vertical-tabs-button-bg-selected:    #439fe0;
$vertical-tabs-button-text-shadow:    0 1px 0 rgba(0,0,0,.1);
$vertical-tabs-list-border:           1px solid #DDD;

// Primary tabs.
$primary-tabs-bg:                      #F5F5F5;
$primary-tabs-margin:                  0 0 1rem;
$primary-tabs-padding:                 .25rem;
$primary-tabs-inactive-color:          #bdc3c7;
$primary-tabs-task-background:         white;
$primary-tabs-task-color:              $text-color;
$primary-tabs-tab-padding:             .5rem;
$primary-tabs-task-active-color:       black;
$primary-tabs-task-active-background:  #F5F5F5;
$primary-tabs-tab-border:              1px solid #CCC;
$primary-tabs-tab-border-remove-right: true;

// Secondary tabs.
$secondary-tabs-bg:                      transparent;
$secondary-tabs-margin:                  0 0 1rem;
$secondary-tabs-padding:                 .25rem;
$secondary-tabs-inactive-color:          #bdc3c7;
$secondary-tabs-task-background:         transparent;
$secondary-tabs-task-color:              $link-color;
$secondary-tabs-tab-padding:             .5rem;
$secondary-tabs-tab-margin:              0 .5rem 0 0;
$secondary-tabs-task-active-color:       white;
$secondary-tabs-task-active-background:  $link-color;
$secondary-tabs-tab-border:              3px solid $link-color;
